/* 
Designed by Marco Tonet for ...
*/
* {
  box-sizing: border-box; }

/* _normalize.SCSS */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* SCSS VARS */
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/* _MIXIN.SCSS */
/* SCSS CORE */
.ce-banner {
  position: fixed;
  bottom: -200px;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
  padding: 1em;
  color: #fff;
  font-size: 1em;
  z-index: 99999;
  font-size: 12px;
  transition: 0.7s 0.3s ease-in-out;
  display: flex;
  /* */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center; }

.ce-banner p {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative; }

.ce-banner .cookie-text {
  width: 80%;
  height: 100%;
  text-align: justify; }

.ce-banner .cookie-botton {
  padding: 0 1em; }

.ce-banner .cookie-botton a {
  margin: 0 auto; }

.nascondibile {
  bottom: 0;
  transition: 0.7s 0.3s ease-in-out; }

.ce-accept, .ce-dismiss, .ce-disable {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: .6em 1em;
  display: inline-block;
  margin: 0 .5em;
  padding: 10px; }

.ce-disable {
  background-color: #aaa; }

.ce-accept:hover,
.ce-dismiss:hover,
.ce-disable:hover {
  background-color: #48ea6b;
  color: white; }

/*
.ce-accept{
    background-color: #48ea6b;
    color: #111;
}
*/
a.ce-law {
  color: #fff;
  font-weight: bold; }

.ce-dismiss, .ce-accept {
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  font-size: .8em;
  right: 1em;
  top: 1em;
  background-color: #ccc;
  color: #333; }

.ce-iframe-placeholder {
  padding: 1em;
  background-color: #eee;
  margin: 1em 0; }

.ce-iframe-placeholder p {
  margin: 0; }

.ce-iframe-placeholder {
  color: #000; }

.ce-iframe-placeholder .ce-accept {
  position: relative;
  top: 10px;
  left: 0;
  margin-right: 10px;
  margin-bottom: 10px; }

.ce-iframe-placeholder .ce-law {
  font-size: .8em;
  right: 1em;
  top: 1em;
  color: #333;
  position: relative;
  top: 10px;
  left: 0;
  margin-right: 10px;
  margin-bottom: 10px; }

/* MAIN */
/* BODY */
html, body {
  font-size: 13px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  word-spacing: 0.07em;
  color: #000;
  font-weight: 400;
  max-width: 100%; }

@media all and (min-width: 48em) {
  html, body {
    font-size: 14px; } }

@media all and (min-width: 48em) {
  html, body {
    font-size: 15px; } }

@media all and (min-width: 48em) {
  html, body {
    font-size: 16px; } }

body {
  padding-top: 48px; }

@media all and (min-width: 48em) {
  body {
    padding-top: 0; } }

body {
  overflow: initial;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
  overflow-y: initial;
  position: relative;
  min-height: 100%; }

body.bloccoscroll {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden; }

/* CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI  */
#contenuti {
  position: relative;
  z-index: 3;
  width: 100%;
  background: #fff;
  margin-top: 0px;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 30px; }

@media all and (min-width: 48em) {
  #contenuti {
    padding-top: 10vh; } }

@media all and (min-width: 62.5em) {
  #contenuti {
    margin: 0;
    width: calc( 84vw - 175px);
    left: calc( 10vw + 175px); } }

@media all and (min-width: 87.5em) {
  #contenuti {
    width: calc( 1400px - 175px - 14vw);
    left: calc( ( 100vw - 1400px ) / 2 + 10vw + 175px); } }

@media all and (max-width: 62.49em) {
  .custom-wrapper {
    margin-bottom: 2em;
    margin-left: 4%;
    margin-right: 4%; } }

@media all and (min-width: 48em) {
  .custom-wrapper {
    margin-bottom: 50px !important; } }

@media all and (min-width: 62.5em) {
  .custom-wrapper {
    margin-bottom: 60px !important; } }

@media all and (min-width: 78.75em) {
  .custom-wrapper {
    margin-bottom: 70px !important; } }

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px; }

/* GRID.SCSS */
/*-- our cleafix hack -- */
.wkrow:before,
.wkrow:after {
  content: "";
  display: table;
  clear: both; }

[class*='wkcol-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  /*-- our gutter -- */
  padding: 15px;
  box-sizing: border-box; }

[class*='wkcol-'] img {
  max-width: 100%; }

.wkcol-0 {
  width: 4.16%; }

.wkcol-1 {
  width: 8.33%; }

.wkcol-2 {
  width: 16.66%; }

.wkcol-3 {
  width: 25%; }

.wkcol-4 {
  width: 33.33%; }

.wkcol-5 {
  width: 41.66%; }

.wkcol-6 {
  width: 50%; }

.wkcol-7 {
  width: 58.33%; }

.wkcol-8 {
  width: 66.66%; }

.wkcol-9 {
  width: 75%; }

.wkcol-10 {
  width: 83.33%; }

.wkcol-11 {
  width: 91.66%; }

.wkcol-12 {
  width: 100%; }

@media all and (max-width: 47.99em) {
  .wkcol-0 {
    width: 50%; }
  .wkcol-1 {
    width: 50%; }
  .wkcol-2 {
    width: 100%; }
  .wkcol-3 {
    width: 100%; }
  .wkcol-4 {
    width: 100%; }
  .wkcol-5 {
    width: 100%; }
  .wkcol-6 {
    width: 100%; }
  .wkcol-7 {
    width: 100%; }
  .wkcol-8 {
    width: 100%; }
  .wkcol-9 {
    width: 100%; }
  .wkcol-10 {
    width: 100%; }
  .wkcol-11 {
    width: 100%; }
  .wkcol-12 {
    width: 100%; } }

.spaziatura {
  padding: 0;
  position: relative;
  overflow: visible;
  margin-bottom: 30px !important; }

@media all and (min-width: 48em) {
  .spaziatura {
    margin-bottom: 50px !important; } }

@media all and (min-width: 62.5em) {
  .spaziatura {
    margin-bottom: 60px !important; } }

@media all and (min-width: 78.75em) {
  .spaziatura {
    margin-bottom: 70px !important; } }

.overflow_visibile {
  overflow: visible !important; }

/* _MEDIAVISIBILITY.SCSS */
.onlymobile {
  display: block; }

.onlytab {
  display: none !important; }

.onlywide {
  display: none !important; }

.nomobile {
  display: none !important; }

.notab {
  display: inherit !important; }

.nowide {
  display: inherit !important; }

@media screen and (min-width: 768px) {
  .onlymobile {
    display: none !important; }
  .onlytab {
    display: inherit !important; }
  .onlywide {
    display: none !important; }
  .nomobile {
    display: inherit !important; }
  .notab {
    display: none !important; }
  .nowide {
    display: inherit !important; } }

@media screen and (min-width: 1000px) {
  .onlymobile {
    display: none !important; }
  .onlytab {
    display: none !important; }
  .onlywide {
    display: inherit !important; }
  .nomobile {
    display: inherit !important; }
  .notab {
    display: inherit !important; }
  .nowide {
    display: none !important; } }

/* SCSS ESTERNI */
/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
/*@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none; }

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  width: 100%;
  display: block; }

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  border-radius: 4px;
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2); }

.flexslider .slides {
  zoom: 1; }

.flexslider .slides img {
  height: auto;
  -moz-user-select: none; }

.flex-viewport {
  max-height: 2000px;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out; }

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }

.flex-direction-nav a.flex-next:before {
  content: '\f002'; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1; }

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px; }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  transition: all 1s ease; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }

/* SCSS LAYOUT */
/* TIPOGRAFIA.SCSS */
html, body {
  font: normal 100%/1.5 'Work Sans', sans-serif;
  line-height: 1.45em; }

i, em {
  font-style: italic; }

strong, b {
  font-weight: bold; }

strong em, strong i {
  font-weight: bold;
  font-style: italic; }

/* Link di base */
a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out 0.3s ease-in-out;
  outline: none !important; }

a:hover {
  opacity: 0.7;
  text-decoration: none;
  outline: none !important; }

/* TITOLI GENERALI DEL SITO */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3em;
  display: block;
  width: 100%;
  clear: both;
  margin: 0; }

h1 {
  font-family: 'Zilla Slab', serif;
  line-height: 1.1em;
  font-size: 3rem;
  font-weight: 300; }

@media all and (min-width: 48em) {
  h1 {
    font-size: 3.25rem; } }

@media all and (min-width: 62.5em) {
  h1 {
    font-size: 3.5rem; } }

@media all and (min-width: 78.75em) {
  h1 {
    font-size: 4rem; } }

h1 strong, h1 b {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase; }

h2 {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 300; }

@media all and (min-width: 62.5em) {
  h2 {
    font-size: 2.5rem; } }

h3 {
  color: #000;
  font-family: 'Zilla Slab', serif;
  font-size: 1.5rem;
  font-weight: 300; }

h4 {
  font-size: 1.15rem;
  text-transform: uppercase;
  font-weight: 600; }

h5 {
  color: #000;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase; }

h6 {
  font-size: 0.9rem;
  font-weight: 800;
  color: #989494;
  text-transform: uppercase; }

h1.title_nowrap br {
  display: none; }

.wp_content img {
  max-width: 100% !important;
  height: auto; }

.wp_content a {
  position: relative; }

.wp_content a:after {
  content: '';
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #000;
  position: absolute;
  top: 110%;
  left: 0; }

.wp_content a:hover:after {
  width: 0%;
  transition: all 0.3s ease-in-out; }

.wp_content p {
  padding-bottom: 1em; }

.wp_content ul, .wp_content ol {
  list-style: none;
  padding-left: 5%; }

.wp_content li {
  list-style: disc;
  line-height: 1.5em;
  margin-bottom: 10px; }

.wp_content li ul li ul li {
  line-height: 1.5em; }

.wp_content ol li {
  list-style: decimal; }

.wp_content li ol li ol li {
  list-style: decimal;
  line-height: 1.5em; }

.wp_content blockquote {
  display: inline-block;
  width: 100%;
  font-family: 'Zilla Slab', serif;
  font-size: 1.7rem;
  font-style: italic;
  width: 100%;
  margin: 0.25em 0;
  margin-top: 4rem;
  padding: 0.25em 30px;
  padding-top: 0;
  line-height: 1.3em;
  position: relative;
  color: #000;
  box-sizing: border-box;
  font-weight: 300; }

@media all and (min-width: 48em) {
  .wp_content blockquote {
    font-size: 2rem; } }

.wp_content blockquote:before {
  display: block;
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 11rem;
  position: absolute;
  left: -10px;
  top: 30px;
  color: #bfbfbf; }

.wp_content blockquote cite {
  color: #000;
  font-size: 1em;
  display: block;
  margin-top: 5px; }

.wp_content blockquote cite:before {
  content: "\2014 \2009"; }

.wk_white_text .wp_content a {
  color: #fff;
  position: relative; }

.wk_white_text .wp_content a:after {
  content: '';
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 110%;
  left: 0; }

.wk_white_text .wp_content a:hover:after {
  width: 0%;
  transition: all 0.3s ease-in-out; }

/* MENUMOBILE:SCSS */
/* STILE DEL MENU DI APERTURA DEL MENU */
.hamburger {
  position: fixed;
  z-index: 99999;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
  padding-top: 12px;
  box-sizing: border-box; }

@media all and (min-width: 62.5em) {
  .hamburger {
    display: none; } }

.hamburger .line {
  width: 21px;
  height: 1px;
  background-color: #000;
  display: block;
  margin: 5px auto;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(0px) rotate(0deg); }

.hamburger:hover {
  cursor: pointer; }

.hamburger.is-active .line {
  background-color: #000;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; }

#hamburger-menu.is-active .line:nth-child(2) {
  opacity: 0; }

#hamburger-menu.is-active .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg); }

#hamburger-menu.is-active .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg); }

.nav-open {
  overflow-y: hidden !important;
  height: 100%; }

body.nav-open nav.finotab {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  display: block; }

nav.finotab {
  background: #fff;
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: -100%;
  transition: all .4s;
  border: 3px solid #000;
  box-sizing: border-box;
  overflow-y: scroll;
  display: none;
  /* UL */
  /* NASCONDO IMMAGINI E DESCRIZIONI */ }

nav.finotab .nav_wrapper {
  position: absolute;
  width: 100%;
  height: 100%; }

nav.finotab .wrapper-interno {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; }

nav.finotab .titolo_sito_nav {
  width: 36%;
  left: 32%;
  position: relative;
  display: block; }

nav.finotab ul {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  /* LI */
  /* NASCONDO SOTTOMENU */
  /* MOSTRO SOTTOMENU SE ATTIVI */ }

nav.finotab ul > li {
  list-style: none;
  text-align: center;
  /*
			a:hover {
				background:lighten($sfondo_nav,2%);
			}
			*/ }

nav.finotab ul > li a {
  display: block;
  width: 100%;
  color: #000;
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 1em 0.5em 1em 1em;
  text-shadow: 0 0 1px rgba(51, 51, 51, 0.1);
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  font-weight: 300; }

nav.finotab ul > li > ul {
  display: none; }

nav.finotab ul > li.current-menu-ancestor > ul {
  display: block; }

nav.finotab ul li.menu-item-has-children > a:after {
  float: right;
  margin-right: 5%;
  padding-top: 0px;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22#000%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out; }

nav.finotab ul li.menu-item-has-children > a.attivo:after {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22#000%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out; }

nav.finotab ul li.menu-item-has-children > a.aperto:after {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22#000%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out; }

nav.finotab ul#menu-principale > li > a {
  border-bottom: 1px solid white;
  height: 48px;
  text-transform: uppercase; }

nav.finotab ul#menu-principale > li > ul.sub-menu > li > a {
  background: white; }

nav.finotab ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li > a {
  background: white; }

nav.finotab ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
  background: white; }

nav.finotab ul#menu-principale > li > ul.sub-menu > li.current-menu-item > a {
  color: #000; }

nav.finotab ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li.current-menu-item > a {
  color: #000;
  background: white; }

nav.finotab ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li.current-menu-item > a {
  color: #000;
  background: white; }

nav.finotab span.sub, nav.finotab span.menu-image-wrapper {
  display: none !important; }

/* HEADER */
/* TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA */
/* STILE DEL MENU DI APERTURA DEL MENU */
header {
  z-index: 99999;
  top: 0;
  position: fixed;
  width: 100%;
  background: #fff;
  height: 48px; }

@media all and (min-width: 62.5em) {
  header {
    height: 100vh;
    width: 175px;
    left: 4vw; } }

@media all and (min-width: 62.5em) and (min-width: 87.5em) {
  header {
    left: calc( ( 100vw - 1400px ) / 2 + 4vw); } }

/* LOGO PRINCIPALE*/
.titolo_sito {
  display: block;
  position: absolute;
  left: 0;
  width: 150px;
  height: 48px;
  overflow: hidden; }

@media all and (min-width: 62.5em) {
  .titolo_sito {
    height: initial;
    width: 100%;
    overflow: initial;
    position: relative;
    height: 0;
    padding-bottom: 100%; } }

.titolo_sito svg {
  display: block;
  position: absolute;
  display: block;
  height: 130px;
  top: -42px;
  left: 11px; }

@media all and (min-width: 62.5em) {
  .titolo_sito svg {
    top: initial;
    left: 0;
    width: 174px;
    height: 174px;
    position: relative;
    top: 0; } }

.titolo_sito svg #logo {
  display: none; }

@media all and (min-width: 62.5em) {
  .titolo_sito svg #logo {
    display: block; } }

.notouch .titolo_sito svg #logo {
  opacity: 1;
  transition: all 0.3s ease-in-out; }

.notouch .titolo_sito:hover svg #logo {
  opacity: 0;
  transition: all 0.3s ease-in-out; }

/* SELETTORI LINGUA */
#lingue_mobile {
  text-transform: uppercase; }

#lingue_mobile > li a {
  display: block;
  width: 100%;
  color: #000;
  outline: none;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 1em 0.5em 1em 1em;
  text-align: center; }

/* MENUWIDE.SCSS */
@media all and (min-width: 62.5em) {
  .vertical_wrap {
    width: 100%;
    top: 10vh;
    position: absolute; } }

/* MENU DESKTOP */
@media all and (max-width: 62.49em) {
  nav.dawide {
    display: none; } }

nav.dawide ul#menu_wide {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: inline-block;
  /* ATTIVO VOCI */ }

nav.dawide ul#menu_wide li {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 30px; }

nav.dawide ul#menu_wide li a {
  font-size: 14px;
  color: #8e8683;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  position: relative;
  white-space: nowrap; }

nav.dawide ul#menu_wide li a:after {
  content: '';
  top: 110%;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #000;
  position: absolute;
  transition: all 0.3s ease-in-out; }

nav.dawide ul#menu_wide li a:hover:after {
  width: 100%;
  transition: all 0.3s ease-in-out; }

nav.dawide ul#menu_wide li.current-menu-item a, nav.dawide ul#menu_wide li.current-page-item a, nav.dawide ul#menu_wide li.current-menu-parent > a, nav.dawide ul#menu_wide li a:hover {
  color: #000;
  transition: all 0.3s ease-in-out; }

nav.dawide ul#menu_wide li.current-menu-item a:after, nav.dawide ul#menu_wide li.current-page-item a:after, nav.dawide ul#menu_wide li.current-menu-parent > a:after, nav.dawide ul#menu_wide li a:hover:after {
  width: 100%;
  transition: all 0.3s ease-in-out; }

.selettore_lingua_wide {
  font-size: 14px;
  color: #8e8683;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  /* font-weight: bold; */
  position: fixed;
  right: 5vh;
  top: 10vh;
  line-height: 1em; }

@media all and (max-width: 62.49em) {
  .selettore_lingua_wide {
    display: none; } }

.selettore_lingua_wide:hover {
  color: #000;
  transition: all 0.3s ease-in-out; }

/* SCSS VC ELEMENT */
/* SLIDER */
.webkolm-slider {
  width: 100%;
  height: auto;
  position: relative; }

@media all and (min-width: 62.5em) {
  .webkolm-slider {
    margin-bottom: 5px; } }

@media all and (min-width: 78.75em) {
  .webkolm-slider {
    margin-bottom: 10px; } }

.webkolm-slider ul.slides {
  width: 100%;
  height: auto; }

.webkolm-slider ul.slides li {
  width: 100%;
  height: 0;
  padding-bottom: 0%;
  position: relative;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.webkolm-slider ul.slides li .slideimg {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /*
				@include mq($from:tablet){
					padding-bottom: calc( 100vh - 190px);
				}
				@include mq($from:desktop){
					padding-bottom: calc( 100vh - 215px);
				}
				@include mq($from:wide){
					padding-bottom: calc( 100vh - 230px);
				}

				
		
				*/ }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .slideimg {
    padding-bottom: calc( 100vh - 135px); } }

@media all and (min-width: 62.5em) {
  .webkolm-slider ul.slides li .slideimg {
    padding-bottom: calc( 100vh - 145px); } }

@media all and (min-width: 78.75em) {
  .webkolm-slider ul.slides li .slideimg {
    padding-bottom: calc( 100vh - 150px); } }

.webkolm-slider ul.slides li .testo_slide {
  width: 100%;
  position: relative;
  padding: 10px;
  padding-left: 0vw;
  padding-right: 0vw;
  text-align: left;
  color: #000; }

@media all and (max-width: 47.99em) {
  .webkolm-slider ul.slides li .testo_slide {
    color: #989494 !important; } }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .testo_slide {
    position: absolute;
    width: auto;
    max-width: 600px;
    color: #fff; } }

.webkolm-slider ul.slides li .testo_slide h2 {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 3px;
  padding-right: 15vw; }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .testo_slide h2 {
    font-size: 2.85em;
    padding-right: 0; } }

@media all and (min-width: 62.5em) {
  .webkolm-slider ul.slides li .testo_slide h2 {
    font-size: 3.33em; } }

@media all and (min-width: 78.75em) {
  .webkolm-slider ul.slides li .testo_slide h2 {
    font-size: 3.72em; } }

.webkolm-slider ul.slides li .testo_slide span {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 300; }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .testo_slide span {
    font-size: 1.7em; } }

@media all and (min-width: 62.5em) {
  .webkolm-slider ul.slides li .testo_slide span {
    font-size: 1.8em; } }

@media all and (min-width: 78.75em) {
  .webkolm-slider ul.slides li .testo_slide span {
    font-size: 2em; } }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .testo_slide.top-left {
    text-align: left;
    left: 8vw;
    top: 8vw; } }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .testo_slide.top-center {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 8vw; } }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .testo_slide.top-right {
    text-align: right;
    right: 8vw;
    top: 8vw; } }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .testo_slide.center-left {
    text-align: left;
    left: 8vw;
    transform: translateY(-50%);
    top: 50%; } }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .testo_slide.center-center {
    text-align: center;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%; } }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .testo_slide.center-right {
    text-align: right;
    right: 8vw;
    transform: translateY(-50%);
    top: 50%; } }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .testo_slide.bottom-left {
    text-align: left;
    left: 8vw;
    bottom: 8vw; } }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .testo_slide.bottom-center {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8vw; } }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .testo_slide.bottom-right {
    text-align: right;
    bottom: 8vw;
    right: 8vw; } }

.webkolm-slider ul.slides li .caption {
  position: absolute;
  max-width: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  overflow: hidden;
  bottom: 15px;
  left: 15px;
  color: #fff;
  transition: max-width .3s, background 0.3s, color .3s;
  transition-delay: 0.3s; }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .caption {
    max-width: 48px;
    min-width: 48px;
    min-height: 48px;
    border-radius: 24px;
    bottom: 24px;
    left: 24px; } }

.webkolm-slider ul.slides li .caption span {
  display: block;
  margin-left: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  font-size: 11px;
  line-height: 14px;
  max-height: 26px;
  min-width: 100px;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 0.3s;
  transition-delay: 0s; }

.webkolm-slider ul.slides li .caption span::first-letter {
  text-transform: uppercase; }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .caption span {
    margin-left: 48px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 20px;
    font-size: 12px;
    line-height: 16px;
    max-height: 36px; } }

@media all and (min-width: 62.5em) {
  .webkolm-slider ul.slides li .caption span {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 13px;
    line-height: 17px; } }

@media all and (min-width: 78.75em) {
  .webkolm-slider ul.slides li .caption span {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 18px; } }

.webkolm-slider ul.slides li .caption:before {
  display: block;
  position: absolute;
  text-align: center;
  content: "i";
  width: 30px;
  height: 30px;
  left: 0;
  line-height: 100%;
  font-size: 25px;
  top: 50%;
  margin-top: -12px;
  left: -2px; }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .caption:before {
    content: "i";
    width: 48px;
    height: 48px;
    font-size: 30px;
    top: 50%;
    margin-top: -15px; } }

.webkolm-slider ul.slides li .caption.attivo {
  max-width: calc( 100% - 30px) !important;
  background: #fff !important;
  color: #989494 !important;
  transition: max-width .3s, background 0.3s, color .3s;
  transition-delay: 0s !important; }

.webkolm-slider ul.slides li .caption.attivo:before {
  content: "x" !important;
  font-size: 19px !important;
  margin-top: -11px !important;
  font-weight: 300 !important; }

@media all and (min-width: 48em) {
  .webkolm-slider ul.slides li .caption.attivo:before {
    font-size: 25px !important;
    margin-top: -15px !important; } }

.webkolm-slider ul.slides li .caption.attivo span {
  max-height: 90px !important;
  max-height: 100% !important;
  transition-property: max-height !important;
  transition-duration: 0.3s !important;
  transition-delay: .2s !important; }

@media all and (min-width: 48em) {
  .notouch .webkolm-slider a.flex-prev, .notouch .webkolm-slider a.flex-next {
    display: block; }
  .notouch .webkolm-slider .flex-direction-nav li a {
    text-indent: -999999px;
    position: absolute;
    width: 8vw;
    height: 80%;
    top: 10%;
    z-index: 9;
    cursor: pointer;
    background: url("/wp-content/themes/wk_henryglass/img/cursor-left.png") no-repeat left 5% center;
    opacity: 0;
    left: 2%; }
  .notouch .webkolm-slider .flex-direction-nav li a.flex-next {
    left: inherit;
    right: 2%;
    background: url("/wp-content/themes/wk_henryglass/img/cursor-right.png") no-repeat right 5% center; } }

@media all and (min-width: 48em) {
  .notouch .webkolm-slider:hover .flex-direction-nav li a {
    opacity: 0.3;
    left: 1%; }
  .notouch .webkolm-slider:hover .flex-direction-nav li a.flex-next {
    left: inherit;
    right: 1%; }
  .notouch .webkolm-slider:hover .flex-direction-nav li a:hover {
    opacity: 1;
    left: 0%; }
  .notouch .webkolm-slider:hover .flex-direction-nav li a.flex-next:hover {
    right: 0%;
    left: inherit; } }

.notouch .wk_caption_inside .caption:hover {
  max-width: calc( 100% - 30px) !important;
  background: #fff !important;
  color: #989494 !important;
  transition: max-width .3s, background 0.3s, color .3s;
  transition-delay: 0s !important; }

.notouch .wk_caption_inside .caption:hover span {
  max-height: 90px !important;
  max-height: 100% !important;
  transition-property: max-height !important;
  transition-duration: 0.3s !important;
  transition-delay: .2s !important; }

.notouch a.slidelink {
  text-shadow: 0px 0px 0px transparent;
  transition: text-shadow .5s; }

.notouch a.slidelink:hover {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); }

.webkolm-slider.wk_vertical {
  width: 100%;
  height: 0;
  padding-bottom: 132%;
  position: relative; }

.webkolm-slider.wk_vertical ul.slides {
  width: 100%;
  height: auto; }

.webkolm-slider.wk_vertical ul.slides li {
  width: 100%;
  height: auto; }

.webkolm-slider.wk_vertical ul.slides li .slideimg {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 132%; }

@media all and (min-width: 48em) {
  .webkolm-slider.wk_vertical ul.slides li .slideimg {
    padding-bottom: 132%; } }

@media all and (min-width: 62.5em) {
  .webkolm-slider.wk_vertical ul.slides li .slideimg {
    padding-bottom: 132%; } }

@media all and (min-width: 78.75em) {
  .webkolm-slider.wk_vertical ul.slides li .slideimg {
    padding-bottom: 132%; } }

.webkolm-slider.wk_horizontal {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  position: relative; }

.webkolm-slider.wk_horizontal ul.slides {
  width: 100%;
  height: auto; }

.webkolm-slider.wk_horizontal ul.slides li {
  width: 100%;
  height: auto; }

.webkolm-slider.wk_horizontal ul.slides li .slideimg {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 60%; }

@media all and (min-width: 48em) {
  .webkolm-slider.wk_horizontal ul.slides li .slideimg {
    padding-bottom: 60%; } }

@media all and (min-width: 62.5em) {
  .webkolm-slider.wk_horizontal ul.slides li .slideimg {
    padding-bottom: 60%; } }

@media all and (min-width: 78.75em) {
  .webkolm-slider.wk_horizontal ul.slides li .slideimg {
    padding-bottom: 60%; } }

.webkolm-slider.wk_squared {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 100%; }

.webkolm-slider.wk_squared ul.slides {
  width: 100%;
  height: auto; }

.webkolm-slider.wk_squared ul.slides li {
  width: 100%;
  height: auto; }

.webkolm-slider.wk_squared ul.slides li .slideimg {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; }

@media all and (min-width: 48em) {
  .webkolm-slider.wk_squared ul.slides li .slideimg {
    padding-bottom: 100%; } }

@media all and (min-width: 62.5em) {
  .webkolm-slider.wk_squared ul.slides li .slideimg {
    padding-bottom: 100%; } }

@media all and (min-width: 78.75em) {
  .webkolm-slider.wk_squared ul.slides li .slideimg {
    padding-bottom: 100%; } }

.webkolm-slider.wk_horizontal .flex-control-nav, .webkolm-slider.wk_vertical .flex-control-nav, .webkolm-slider.wk_squared .flex-control-nav {
  display: none !important; }

.webkolm-slider.wk_horizontal .flex-direction-nav a.flex-next, .webkolm-slider.wk_horizontal .flex-direction-nav a.flex-prev, .webkolm-slider.wk_vertical .flex-direction-nav a.flex-next, .webkolm-slider.wk_vertical .flex-direction-nav a.flex-prev, .webkolm-slider.wk_squared .flex-direction-nav a.flex-next, .webkolm-slider.wk_squared .flex-direction-nav a.flex-prev {
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  text-align: left;
  text-indent: -99999px;
  z-index: 9; }

.webkolm-slider.wk_horizontal .flex-direction-nav a.flex-next:after, .webkolm-slider.wk_horizontal .flex-direction-nav a.flex-prev:after, .webkolm-slider.wk_vertical .flex-direction-nav a.flex-next:after, .webkolm-slider.wk_vertical .flex-direction-nav a.flex-prev:after, .webkolm-slider.wk_squared .flex-direction-nav a.flex-next:after, .webkolm-slider.wk_squared .flex-direction-nav a.flex-prev:after {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22#fff%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  content: '';
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%) rotate(90deg);
  transition: all 0.3s ease-in-out; }

.webkolm-slider.wk_horizontal .flex-direction-nav a.flex-next, .webkolm-slider.wk_vertical .flex-direction-nav a.flex-next, .webkolm-slider.wk_squared .flex-direction-nav a.flex-next {
  left: initial;
  right: 0; }

.webkolm-slider.wk_horizontal .flex-direction-nav a.flex-next:after, .webkolm-slider.wk_vertical .flex-direction-nav a.flex-next:after, .webkolm-slider.wk_squared .flex-direction-nav a.flex-next:after {
  left: initial;
  right: 20%;
  transform: translateY(-50%) rotate(-90deg); }

.webkolm-slider.wk_horizontal .flex-disabled, .webkolm-slider.wk_vertical .flex-disabled, .webkolm-slider.wk_squared .flex-disabled {
  display: none !important; }

.webkolm-slider.wk_caption_outside ul.slides li.out_caption {
  padding-bottom: 100px; }

.webkolm-slider.wk_caption_outside ul.slides li.out_caption .caption {
  position: absolute;
  max-width: 70%;
  border: 0;
  overflow: auto;
  top: 100%;
  left: 0;
  color: #989494;
  transition: none;
  font-size: 12px;
  border-radius: 0px !important;
  line-height: 1.5em;
  overflow: visible;
  padding-top: 10px; }

@media all and (min-width: 48em) {
  .webkolm-slider.wk_caption_outside ul.slides li.out_caption .caption {
    max-width: 100%;
    bottom: 0px;
    left: 0px; } }

.webkolm-slider.wk_caption_outside ul.slides li.out_caption .caption span {
  display: block;
  position: relative;
  margin-left: 0px;
  padding-top: 1.4em;
  padding-bottom: 0.7em;
  padding-right: 0px;
  font-size: 11px;
  line-height: 1.5em !important;
  max-height: inherit !important;
  overflow: auto;
  transition: none !important;
  font-weight: 300; }

@media all and (min-width: 48em) {
  .webkolm-slider.wk_caption_outside ul.slides li.out_caption .caption span {
    font-size: 12px; } }

@media all and (min-width: 62.5em) {
  .webkolm-slider.wk_caption_outside ul.slides li.out_caption .caption span {
    font-size: 13px; } }

@media all and (min-width: 78.75em) {
  .webkolm-slider.wk_caption_outside ul.slides li.out_caption .caption span {
    font-size: 14px; } }

.webkolm-slider.wk_caption_outside ul.slides li.out_caption .caption span:before {
  display: block;
  position: absolute;
  max-width: inherit;
  max-height: inherit;
  width: 40px;
  height: 1px;
  overflow: hidden;
  line-height: 2px;
  top: inherit;
  bottom: 0;
  margin-top: 0px;
  left: 0px;
  content: "" !important;
  background: #989494; }

@media all and (min-width: 48em) {
  .webkolm-slider.wk_caption_outside ul.slides li.out_caption .caption span:before {
    height: 2px; } }

.webkolm-slider.wk_caption_outside ul.slides li.out_caption .caption:before {
  display: none !important; }

.webkolm-slider.wk_contain ul li {
  background-color: #8e8683 !important; }

.webkolm-slider.wk_contain ul li .slideimg {
  background-size: contain !important; }

/* PAGINE INTERNE --- PAGINE INTERNE --- PAGINE INTERNE */
