@charset "UTF-8";
/* 
Designed by Marco Tonet for ...
*/
/* SCSS VARS */
/* -COLORS.SCSS */
/* DEFAULT COLORS VARS */
/* THEME COLORS VARS */
/* _MIXIN.SCSS */
/* _TEXT.SCSS */
/* Font Library */
/* FONT PER LE ICONE */
/* SCSS CORE */
/* WORDPRESS.SCSS */
/* CONTACT FORM 7 */
form.wpcf7-form input, form.wpcf7-form textarea {
  padding: 0;
  display: block;
  width: 100%;
  border: 1px solid #000;
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #000;
  background: none !important;
  font-style: italic;
  padding: 10px; }

form.wpcf7-form textarea {
  height: 150px;
  padding-top: 15px; }

form.wpcf7-form ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000; }

form.wpcf7-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000;
  opacity: 1; }

form.wpcf7-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000;
  opacity: 1; }

form.wpcf7-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
  line-height: 0 !important; }

form.wpcf7-form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
  line-height: 0 !important; }

form.wpcf7-form input[type="submit"] {
  text-align: center;
  width: auto;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-transform: uppercase;
  line-height: initial;
  font-style: normal;
  font-weight: 100;
  color: #fff;
  border: 1px solid #000;
  float: right;
  background: #000 !important;
  transition: all .4s; }

form.wpcf7-form input[type="submit"]:hover {
  background: #000 !important;
  color: #000;
  transition: all .4s; }

.wk_white_text form.wpcf7-form input, .wk_white_text form.wpcf7-form textarea {
  border: 1px solid #fff;
  color: #fff;
  background: none !important;
  font-style: italic;
  padding: 10px; }

.wk_white_text form.wpcf7-form textarea {
  height: 150px;
  padding-top: 15px; }

.wk_white_text form.wpcf7-form ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff; }

.wk_white_text form.wpcf7-form :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1; }

.wk_white_text form.wpcf7-form ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1; }

.wk_white_text form.wpcf7-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  line-height: 0 !important; }

.wk_white_text form.wpcf7-form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
  line-height: 0 !important; }

.wk_white_text form.wpcf7-form input[type="submit"] {
  text-align: center;
  width: auto;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  line-height: initial;
  font-style: normal;
  font-weight: 100;
  color: #fff;
  border: 1px solid #fff;
  float: right;
  background: none !important;
  transition: all .4s; }

.wk_white_text form.wpcf7-form input[type="submit"]:hover {
  background: #fff !important;
  color: #000;
  transition: all .4s; }

/* PAGINAZIONE WOOCOMMERCE / WORDPRESS */
nav.woocommerce-pagination {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 2em;
  padding-top: 2em;
  float: left; }

nav.woocommerce-pagination ul {
  display: block;
  margin: 0 auto;
  list-style: none; }

nav.woocommerce-pagination ul li {
  display: inline-block;
  list-style: none; }

nav.woocommerce-pagination ul li:before  {
  display: none !important; }

nav.woocommerce-pagination ul li::before  {
  display: none !important; }

nav.woocommerce-pagination ul li a, nav.woocommerce-pagination ul li span {
  display: block;
  color: #000;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  border-radius: 1px; }

nav.woocommerce-pagination ul li a img.arrow, nav.woocommerce-pagination ul li span img.arrow {
  margin-top: 4px;
  display: block;
  position: relative;
  top: 2px;
  right: 0px;
  transition: right .4s; }

nav.woocommerce-pagination ul li a.prev img.arrow {
  left: 0px;
  transition: left .4s; }

nav.woocommerce-pagination ul li a:hover {
  color: #000; }

nav.woocommerce-pagination ul li a.next:hover img.arrow {
  right: -5px;
  transition: right .4s; }

nav.woocommerce-pagination ul li a.prev:hover img.arrow {
  left: -5px;
  transition: left .4s; }

nav.woocommerce-pagination ul li span {
  font-weight: 300;
  color: #000; }

/* GALLERY BLUEIMP */
#links.galleria {
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

#links.galleria a {
  display: flex;
  align-content: center;
  flex-basis: 1;
  flex-grow: 0;
  margin: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  transition: opacity .4s;
  transition: all 0.3s ease-in-out;
  width: 90px;
  height: 90px; }

@media all and (min-width: 31.25em) {
  #links.galleria a {
    width: 120px;
    height: 120px; } }

@media all and (min-width: 62.5em) {
  #links.galleria a {
    width: 166px;
    height: 166px; } }

#links.galleria a:hover {
  opacity: 0.5;
  transition: opacity .4s; }

#links.galleria.thumblink {
  width: 100%; }

#links.galleria.thumblink a {
  width: 60%;
  padding-bottom: 65%;
  margin: 0 auto;
  float: none; }

/* FINE GALLERY */
/* SCSS TERZE PARTI */
/* _BLUEIMPGALLERY.SCSS */
.blueimp-gallery,
.blueimp-gallery > .slides > .slide > .slide-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-backface-visibility: hidden; }

.blueimp-gallery > .slides > .slide > .slide-content {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  opacity: 1; }

.blueimp-gallery {
  position: fixed;
  z-index: 99999;
  overflow: hidden;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  display: none;
  -ms-touch-action: none; }

.blueimp-gallery-carousel {
  position: relative;
  z-index: auto;
  height: 432px;
  max-width: 768px;
  margin: 1em auto;
  box-shadow: 0 0 10px #000; }

.blueimp-gallery-display {
  display: block;
  visibility: visible;
  opacity: 1; }

.blueimp-gallery > .slides {
  position: relative;
  height: 100%;
  overflow: hidden; }

.blueimp-gallery > .slides > .slide {
  position: relative;
  float: left;
  height: 100%;
  text-align: center;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }

.blueimp-gallery, .blueimp-gallery > .slides > .slide > .slide-content {
  transition: opacity .5s linear; }

.blueimp-gallery > .slides > .slide-loading > .slide-content {
  opacity: 0; }

.blueimp-gallery > .slides > .slide-error > .slide-content {
  display: none; }

.blueimp-gallery > .prev,
.blueimp-gallery > .next {
  width: 10vw;
  height: 100vh;
  opacity: .9;
  text-indent: -99999;
  font-size: 1px;
  position: absolute;
  top: 0;
  cursor: pointer;
  display: block;
  background: none; }

.blueimp-gallery > .prev:after,
.blueimp-gallery > .next:after {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22#fff%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  content: '';
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%) rotate(90deg); }

.blueimp-gallery > .next {
  left: auto;
  right: 0; }

.blueimp-gallery > .next:after {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22#fff%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  left: initial;
  right: 10%;
  transform: translateY(-50%) rotate(-90deg); }

.notouch .blueimp-gallery > .prev {
  left: 2%; }

.notouch .blueimp-gallery > .prev:hover {
  left: 1%; }

.notouch .blueimp-gallery > .next {
  right: 2%; }

.notouch .blueimp-gallery > .next:hover {
  right: 1%; }

.notouch .blueimp-gallery > .prev,
.notouch .blueimp-gallery > .next {
  transition: all 0.3s ease-in-out;
  opacity: .3; }

.notouch .blueimp-gallery > .prev:hover,
.notouch .blueimp-gallery > .next:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in-out; }

.blueimp-gallery > .close, .blueimp-gallery > .title {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0 40px 0 0;
  font-size: 20px;
  line-height: 30px;
  color: #fff !important;
  text-shadow: 0 0 2px #000;
  opacity: .8;
  display: none; }

.blueimp-gallery, .blueimp-gallery > .slides > .slide > .slide-content {
  margin: auto !important; }

.blueimp-gallery > .slides > .slide > .slide-content,
.blueimp-gallery > a.prev,
.blueimp-gallery > a.next,
.blueimp-gallery > a.close,
.blueimp-gallery > a.play-pause {
  font-weight: 100 !important;
  color: #fff !important; }

.blueimp-gallery > .close {
  font-size: 30px;
  width: 48px;
  height: 48px;
  position: fixed;
  left: auto;
  right: 0px;
  top: 0px;
  overflow: hidden;
  border: none;
  background: dimgray;
  color: #000;
  z-index: 99999;
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 46px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

.notouch .blueimp-gallery > .close:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease-in-out; }

.blueimp-gallery > .indicator {
  position: absolute;
  top: auto;
  right: 15px;
  bottom: 15px;
  left: 15px;
  margin: 0 40px;
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 10px;
  display: none; }

.blueimp-gallery > .indicator > li {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 6px 3px 0 3px;
  border: 1px solid transparent;
  background: #ccc;
  background: rgba(255, 255, 255, 0.25) center no-repeat;
  border-radius: 5px;
  box-shadow: 0 0 2px #000;
  opacity: .5;
  cursor: pointer; }

.blueimp-gallery > .indicator > .active {
  background-color: #fff;
  border-color: #fff;
  opacity: .8; }

.blueimp-gallery-controls > .indicator {
  display: block;
  transform: translateZ(0); }

.blueimp-gallery-single > .indicator {
  display: none; }

.blueimp-gallery > .indicator {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

* + html .blueimp-gallery > .indicator > li {
  display: inline; }

.blueimp-gallery-carousel {
  position: relative;
  z-index: auto;
  height: 432px;
  max-width: 768px;
  margin: 1em auto;
  box-shadow: 0 0 10px #000; }

/* OWLCAROUSEL.SCSS */
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none; }

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav {
  margin-top: 10px; }

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

/* SCSS LAYOUT */
/* HOMEPAGE */
/* BLOG.SCSS */
/* FOOTER */
#footer {
  width: 100vw;
  background: #000;
  color: #fff;
  position: absolute;
  z-index: 99999;
  min-height: 200px;
  padding-top: 50px; }

@media all and (min-width: 48em) {
  #footer {
    padding-top: 70px;
    margin-top: 80px; } }

@media all and (min-width: 62.5em) {
  #footer {
    padding-top: 80px; } }

@media all and (min-width: 78.75em) {
  #footer {
    padding-top: 100px; } }

#footer h1 {
  font-size: 2rem; }

@media all and (min-width: 62.5em) {
  #footer h1 {
    font-size: 3rem; } }

#footer:before {
  content: '';
  position: absolute;
  top: -40px;
  height: 40px;
  width: 100%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.68) 38%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

@media all and (max-width: 47.99em) {
  #footer:before {
    display: none; } }

#footer svg * {
  fill: #fff; }

#footer a {
  color: #d7d4d3; }

#footer a:hover {
  color: #fff; }

#footer form {
  font-family: 'Work Sans', sans-serif; }

@media all and (max-width: 47.99em) {
  #footer form {
    padding-bottom: 4em; } }

#footer form input {
  margin: 0;
  border: 0;
  background: none !important;
  height: 34px;
  line-height: 30px;
  font-style: italic;
  color: #fff;
  padding-left: 7px;
  border-bottom: 1px solid #fff;
  box-sizing: content-box;
  border-radius: 0; }

#footer form button {
  margin: 0;
  border: 1px solid #fff;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
  background: none;
  box-sizing: content-box;
  font-size: 16px;
  border-radius: 0; }

@media all and (max-width: 47.99em) {
  #footer form button {
    margin: 0 auto;
    margin-top: 17px; } }

#footer form button:hover {
  background: #fff;
  color: #000;
  transition: all 0.3s ease-in-out; }

.credit_footer {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9rem;
  line-height: 1.3em; }

.logo-penta {
  display: block;
  width: 174px;
  overflow: hidden;
  left: 4vw;
  position: absolute;
  text-align: center;
  font-size: 0.9rem; }

@media all and (max-width: 62.49em) {
  .logo-penta {
    position: relative;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    margin-bottom: 30px; } }

@media all and (min-width: 87.5em) {
  .logo-penta {
    left: calc( ( 100vw - 1400px ) / 2 + 4vw); } }

.logo-penta svg {
  margin-bottom: 10px; }

.footer-content {
  width: 94%;
  margin: 0 auto;
  position: relative;
  font-family: 'Zilla Slab', serif;
  font-size: 1.2rem;
  line-height: 1.66em;
  font-weight: 100;
  color: #d7d4d3; }

@media all and (min-width: 62.5em) {
  .footer-content {
    width: calc( 84vw - 175px);
    left: calc( 10vw + 175px);
    margin: 0; } }

@media all and (min-width: 87.5em) {
  .footer-content {
    width: calc( 1400px - 175px - 14vw);
    left: calc( ( 100vw - 1400px ) / 2 + 10vw + 175px); } }

.footer-content h1 {
  color: #fff; }

/* CASE HISOTRY */
.stile_voce_filtro, .lista-categorie li, .filtro-categorie, .lista-filtro-categorie, .lista-filtro-categorie select {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem; }

.taxonomy-description {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 600px;
  text-align: center;
  margin: 0 auto; }

@media all and (min-width: 48em) {
  .taxonomy-description {
    padding-top: 40px;
    padding-bottom: 30px; } }

@media all and (min-width: 62.5em) {
  .taxonomy-description {
    padding-top: 50px;
    padding-bottom: 40px; } }

@media all and (min-width: 78.75em) {
  .taxonomy-description {
    padding-top: 60px;
    padding-bottom: 50px; } }

.lista-categorie {
  width: 100%;
  border-bottom: 3px solid #000;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
  display: flex;
  /* */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

@media all and (max-width: 47.99em) {
  .lista-categorie {
    display: none; } }

.lista-categorie li {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  min-height: 20px;
  line-height: 20px; }

.lista-categorie li a {
  transition: all 0.3s ease-in-out; }

.lista-categorie li a:hover, .lista-categorie li a.superattivo {
  color: #989494;
  transition: all 0.3s ease-in-out; }

.wrap-filtro {
  display: flex;
  /* */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-top: 30px; }

@media all and (min-width: 48em) {
  .wrap-filtro {
    padding-bottom: 30px; } }

.lista-filtro-categorie {
  border: 2px solid #000;
  position: relative; }

.lista-filtro-categorie select {
  margin: 0;
  padding: 0;
  background-color: #fff;
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  background-image: none;
  background-position: center right 5px;
  background-repeat: no-repeat;
  border-radius: 0 !important;
  border: 0;
  height: 30px;
  line-height: 30px;
  padding-left: 7px;
  padding-right: 40px; }

.lista-filtro-categorie:after {
  content: '';
  height: 16px;
  width: 16px;
  position: absolute;
  right: 7px;
  top: 7px;
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22#000%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out; }

/* SINGOLA CASE HISOTRY */
.item-case {
  position: relative;
  margin-top: 45px;
  display: flex;
  /* */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: calc( 100% - 1.4vw); }

@media all and (min-width: 48em) {
  .item-case {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 80px; } }

@media all and (min-width: 62.5em) {
  .item-case {
    margin-bottom: 110px; } }

@media all and (min-width: 78.75em) {
  .item-case {
    margin-bottom: 140px; } }

.item-case:after {
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  right: -2vw;
  top: 0;
  background: #000; }

@media all and (min-width: 48em) {
  .item-case:after {
    left: calc( 65% + 9px); } }

.item-case .item-text {
  font-family: 'Zilla Slab', serif;
  line-height: 1.6666em;
  font-size: 1.12rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
  padding-right: 5vw; }

@media all and (min-width: 48em) {
  .item-case .item-text {
    width: 35%;
    padding-right: 0;
    padding-left: 5vw;
    line-height: 1.4rem;
    font-size: 1rem; } }

@media all and (min-width: 62.5em) {
  .item-case .item-text {
    line-height: 1.666rem;
    font-size: 1.12rem; } }

.item-case .item-image {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%; }

@media all and (min-width: 48em) {
  .item-case .item-image {
    width: 65%; } }

@media all and (min-width: 62.5em) {
  .item-case .item-title-wrap {
    text-align: right;
    margin-bottom: -5px; } }

.item-case .item-title-wrap h3 {
  font-size: 2.5rem;
  line-height: 1em; }

@media all and (min-width: 48em) {
  .item-case:nth-child(even):after {
    left: calc( 35% - 13px); } }

@media all and (min-width: 48em) {
  .item-case:nth-child(even) .item-text {
    order: -1;
    padding-left: 1vw;
    padding-right: 4vw; } }

@media all and (min-width: 62.5em) {
  .item-case:nth-child(even) .item-title-wrap {
    text-align: left; } }

.item-case.case-overlay:after {
  display: none; }

.item-case.case-overlay .item-title-wrap.item-title-overlay {
  text-align: center !important;
  background: rgba(255, 255, 255, 0.85);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 3; }

.item-case.case-overlay .item-title-wrap.item-title-overlay a.pulsante {
  background: none !important;
  border-right-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  border-top-color: rgba(255, 255, 255, 0); }

.item-case.case-overlay .item-title-wrap.item-title-overlay a.pulsante:hover {
  border-right-color: black;
  border-left-color: black;
  border-top-color: black; }

.touch .item-case.case-overlay .item-title-wrap.item-title-overlay a.pulsante {
  display: none; }

.item-case.single-pro-project {
  width: 100%; }

.item-case.single-pro-project:after {
  content: '';
  position: absolute;
  top: 0;
  left: initial;
  right: 0;
  width: 0.6vw;
  background: #000;
  height: 100%; }

.item-case.single-pro-project .item-image {
  width: calc( 100% - 2.8vw); }

.notouch .item-case.case-overlay .item-title-wrap.item-title-overlay {
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease-in-out; }

.notouch .item-case.case-overlay:hover .item-title-wrap.item-title-overlay {
  background: rgba(255, 255, 255, 0.95);
  transition: all 0.3s ease-in-out; }

.case-slider {
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  position: relative;
  margin-bottom: 20px; }

.case-slider ul.slides {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  position: absolute; }

.case-slider ul.slides > li {
  width: 100%;
  height: 100%;
  position: absolute; }

.case-slider ul.slides > li > a {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: zoom-in; }

.case-slider ul.slides > li > a:hover {
  opacity: 1; }

.case-slider .flex-control-nav {
  display: none !important; }

.case-slider .flex-direction-nav a.flex-next, .case-slider .flex-direction-nav a.flex-prev {
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  text-align: left;
  text-indent: -99999px;
  z-index: 9; }

.case-slider .flex-direction-nav a.flex-next:after, .case-slider .flex-direction-nav a.flex-prev:after {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22#fff%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  content: '';
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%) rotate(90deg);
  transition: all 0.3s ease-in-out; }

.case-slider .flex-direction-nav a.flex-next {
  left: initial;
  right: 0; }

.case-slider .flex-direction-nav a.flex-next:after {
  left: initial;
  right: 20%;
  transform: translateY(-50%) rotate(-90deg); }

.case-slider .flex-disabled {
  display: none !important; }

.notouch .case-slider .flex-direction-nav a.flex-next:hover {
  cursor: e-resize; }

.notouch .case-slider .flex-direction-nav a.flex-next:hover:after {
  right: 15%;
  transition: all 0.3s ease-in-out; }

.notouch .case-slider .flex-direction-nav a.flex-prev:hover {
  cursor: w-resize; }

.notouch .case-slider .flex-direction-nav a.flex-prev:hover:after {
  left: 15%;
  transition: all 0.3s ease-in-out; }

/* LOADER */
.loader_wrap {
  width: 100%; }

.loader_wrap .sk-circle {
  display: none; }

.loader_wrap.vuoto {
  min-height: 100vh; }

.loader_wrap.vuoto .sk-circle {
  display: block; }

.sk-circle {
  margin: 100px auto;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px; }

@media all and (min-width: 48em) {
  .sk-circle {
    top: 50%;
    margin-top: -25px; } }

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #000;
  border-radius: 100%;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }

.sk-circle .sk-circle2 {
  transform: rotate(30deg); }

.sk-circle .sk-circle3 {
  transform: rotate(60deg); }

.sk-circle .sk-circle4 {
  transform: rotate(90deg); }

.sk-circle .sk-circle5 {
  transform: rotate(120deg); }

.sk-circle .sk-circle6 {
  transform: rotate(150deg); }

.sk-circle .sk-circle7 {
  transform: rotate(180deg); }

.sk-circle .sk-circle8 {
  transform: rotate(210deg); }

.sk-circle .sk-circle9 {
  transform: rotate(240deg); }

.sk-circle .sk-circle10 {
  transform: rotate(270deg); }

.sk-circle .sk-circle11 {
  transform: rotate(300deg); }

.sk-circle .sk-circle12 {
  transform: rotate(330deg); }

.sk-circle .sk-circle2:before {
  animation-delay: -1.1s; }

.sk-circle .sk-circle3:before {
  animation-delay: -1s; }

.sk-circle .sk-circle4:before {
  animation-delay: -0.9s; }

.sk-circle .sk-circle5:before {
  animation-delay: -0.8s; }

.sk-circle .sk-circle6:before {
  animation-delay: -0.7s; }

.sk-circle .sk-circle7:before {
  animation-delay: -0.6s; }

.sk-circle .sk-circle8:before {
  animation-delay: -0.5s; }

.sk-circle .sk-circle9:before {
  animation-delay: -0.4s; }

.sk-circle .sk-circle10:before {
  animation-delay: -0.3s; }

.sk-circle .sk-circle11:before {
  animation-delay: -0.2s; }

.sk-circle .sk-circle12:before {
  animation-delay: -0.1s; }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    transform: scale(0); }
  40% {
    transform: scale(1); } }

/* STILE OVERLAY */
/* SINGOLO ANNUNCIO */
/* SINGOLO ANNUNCIO */
#singolo-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 99999;
  overflow: hidden;
  overflow-Y: scroll;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

#singolo-overlay.open {
  visibility: visible;
  opacity: 1;
  top: 0;
  transition: all 0.3s ease-in-out; }

.wrapper-singolo {
  top: 60px;
  position: absolute;
  width: 90%;
  left: 5%;
  background: #fff;
  margin-bottom: 60px; }

@media all and (min-width: 48em) {
  .wrapper-singolo {
    top: 100px;
    margin-bottom: 100px;
    max-width: 900px;
    position: relative;
    margin: 0 auto;
    left: initial; } }

@media all and (min-width: 62.5em) {
  .wrapper-singolo {
    top: 120px;
    margin-bottom: 120px; } }

/* Overlay closing cross  */
#singolo-overlay .overlay-close {
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
  z-index: 999; }

#singolo-overlay .overlay-close:after, #singolo-overlay .overlay-close:before {
  content: " ";
  width: 40px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transition: all 0.3s ease-in-out; }

#singolo-overlay .overlay-close:before {
  width: 1px;
  height: 40px;
  top: 0;
  left: 50%; }

#singolo-overlay .overlay-close:hover {
  transform: rotate(135deg); }

.pagina-singola .overlay-close {
  display: none !important; }

/* STILE PAGINE */
.testo_materiale {
  width: 100%;
  max-width: 500px; }

.pagina-tab .testo_materiale {
  padding: 3vw;
  padding-top: 0;
  max-width: 600px; }

.related-project {
  padding-top: 3vw;
  padding-bottom: 3vw; }

.pagina-tab .related-project {
  padding: 3vw; }

.singolo-materiale .wk_home_cover {
  margin-top: 0; }

.singolo-materiale h1.title_home {
  text-align: left; }

.pagina-tab .wk_home_cover ul.slides {
  width: 100%; }

.pagina-tab .wk_home_cover:after {
  display: none; }

.pagina-tab h1.title_home {
  margin-top: 20px;
  font-size: 2rem;
  text-align: left;
  padding: 3vw;
  padding-bottom: 1vw; }

/* SCSS VISUAL COMPOSER */
/* CUSTOMIZE VisualComposer OUTPUT*/
body .vc_row {
  position: relative;
  /* FROM MAIN */
  margin: 0;
  margin-bottom: 30px; }

body .wpb_content_element {
  margin-bottom: 0; }

.vc_col-has-fill > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner {
  padding-top: 0 !important; }

.vc_row.wk_fixrow {
  width: 100%;
  margin: 0 auto;
  margin-left: auto !important;
  margin-right: auto !important; }

.vc_column_container > .vc_column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.wk_linkedcolumn {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px;
  transition: all .4s; }

.wk_linkedcolumn:hover {
  cursor: pointer;
  transition: all .4s;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.21); }

.wk_white_text {
  color: #fff !important; }

.wk_white_text h1, .wk_white_text h2, .wk_white_text h3, .wk_white_text h4, .wk_white_text h5, .wk_white_text h6 {
  color: #fff !important; }

@media all and (min-width: 48em) {
  .vc_row.wk_expand {
    margin-left: -10px;
    margin-right: -10px; } }

@media all and (min-width: 62.5em) {
  .vc_row.wk_expand {
    margin-left: -20px;
    margin-right: -20px; } }

@media all and (min-width: 78.75em) {
  .vc_row.wk_expand {
    margin-left: -25px;
    margin-right: -25px; } }

@media all and (min-width: 48em) {
  .wk_dxcolumn {
    padding-left: 40px; } }

@media all and (min-width: 62.5em) {
  .wk_dxcolumn {
    padding-left: 50px; } }

@media all and (min-width: 78.75em) {
  .wk_dxcolumn {
    padding-left: 60px; } }

.wk_collassa {
  width: auto;
  float: left;
  width: 100%; }

@media all and (min-width: 37.5em) {
  .wk_collassa {
    width: 50%; } }

@media all and (min-width: 78.75em) {
  .wk_collassa {
    width: 25%;
    margin-bottom: 0; } }

/* 100% SINGLE IMAGE */
.wk_full_width {
  width: 100%; }

.wk_full_width img {
  width: 100% !important;
  height: auto !important; }

.videoframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }

.videoframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#instafeed {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  transition: opacity .4s;
  line-height: 30px; }

#instafeed a {
  display: block;
  background: #000;
  margin: 7px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 1 100px;
  height: auto;
  transition: opacity .4s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#instafeed a:before {
  content: '';
  float: left;
  padding-top: 100%; }

#instafeed:hover a {
  opacity: 0.5;
  transition: opacity .4s; }

#instafeed:hover a:hover {
  opacity: 1;
  transition: opacity .4s; }

/* SOCIAL ADD ON */
.share_buttons {
  width: 100%;
  clear: both;
  margin-top: 30px; }

@media all and (min-width: 62.5em) {
  .share_buttons {
    margin-top: 50px; } }

.share_buttons h6 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 0.77em; }

.share_buttons ul {
  display: block;
  padding: 0;
  padding-top: 7px; }

.share_buttons ul li {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px; }

.share_buttons ul li a {
  opacity: 1;
  color: #fff; }

.share_buttons ul li a svg {
  width: 16px;
  height: 16px;
  cursor: pointer; }

.share_buttons ul li a svg path {
  transition: all 0.3s ease-in-out; }

.share_buttons ul li a:hover {
  opacity: 0.3; }

.share_buttons ul li:first-child {
  margin-left: 0; }

.social_share, .reseller_data {
  text-align: left; }

.social_share.wk-center, .reseller_data.wk-center {
  text-align: center; }

.social_share.wk-right, .reseller_data.wk-right {
  text-align: right; }

/* VK MATERIOTECA BOX */
.wk_box_materioteca {
  position: relative;
  overflow: hidden; }

.mat_text {
  display: flex;
  /* */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center; }

@media all and (min-width: 48em) {
  .mat_text {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    position: relative; } }

.mat_text h1 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  order: -1;
  margin-bottom: 30px; }

@media all and (min-width: 48em) {
  .mat_text h1 {
    order: initial;
    position: absolute;
    height: 0;
    padding-bottom: 15%;
    padding-top: 15%;
    align-items: center;
    display: flex;
    margin-top: 30%;
    width: 56%;
    top: 0; } }

.mat_text h3.mat_intro {
  line-height: 1.66rem; }

@media all and (min-width: 48em) {
  .mat_text h3.mat_intro {
    margin-right: 66%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    height: 0;
    padding-top: 15%;
    padding-bottom: 15%;
    width: 30%;
    box-sizing: border-box; } }

.mat_text .wrap_pulsante {
  width: 100%; }

@media all and (min-width: 48em) {
  .mat_text .wrap_pulsante {
    position: absolute;
    bottom: 0; } }

.mat_slider {
  width: 100%;
  position: relative;
  margin-top: 30px;
  height: 0;
  padding-bottom: 100%; }

@media all and (min-width: 48em) {
  .mat_slider {
    margin-top: 0;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0; } }

.mat_slider ul.slider {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

.mat_slider li {
  width: 100%; }

.mat_slider a.mat_image, .mat_slider div.mat_image {
  width: 50%;
  height: 0;
  display: block;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative; }

.mat_slider a.mat_image .inner, .mat_slider div.mat_image .inner {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1);
  transition: all 0.6s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute; }

.mat_slider a.mat_image:hover, .mat_slider div.mat_image:hover {
  opacity: 1; }

.mat_slider a.mat_image:hover .inner, .mat_slider div.mat_image:hover .inner {
  transform: scale(1.1);
  transition: all 0.6s ease-in-out; }

.mat_slider a.mat_frame, .mat_slider div.mat_frame {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  box-shadow: 0px 0px 0px 3px black inset;
  box-sizing: border-box;
  position: relative;
  margin-left: 50%;
  display: block;
  transition: all 0.3s ease-in-out; }

.mat_slider a.mat_frame h4, .mat_slider div.mat_frame h4 {
  position: absolute;
  bottom: 10px;
  left: 13px;
  line-height: 1em;
  font-size: 1rem;
  width: calc( 100% - 20px); }

@media all and (min-width: 48em) {
  .mat_slider a.mat_frame h4, .mat_slider div.mat_frame h4 {
    max-width: 60%;
    font-size: 1.25rem; } }

.mat_slider a.mat_frame:hover, .mat_slider div.mat_frame:hover {
  opacity: 1;
  background: #000;
  color: #fff;
  transition: all 0.3s ease-in-out; }

.mat_slider .flex-control-nav, .mat_slider .flex-direction-nav {
  display: none !important; }

/* OUTPUT PAGINA MATERIOTECA */
.open_overlay {
  cursor: pointer !important; }

@media all and (max-width: 47.99em) {
  .reverse_mat {
    margin-bottom: 2em;
    margin-left: 4%;
    margin-right: 4%; } }

@media all and (min-width: 48em) {
  .reverse_mat .mat_text h1 {
    order: -1;
    margin-top: 0%; } }

@media all and (min-width: 48em) {
  .reverse_mat .mat_text h3.mat_intro {
    margin-top: 30%; } }

@media all and (max-width: 47.99em) {
  .reverse_mat .mat_slider {
    padding-bottom: 50%; } }

.reverse_mat .mat_slider a.mat_image, .reverse_mat .mat_slider div.mat_image {
  position: absolute; }

@media all and (min-width: 48em) {
  .reverse_mat .mat_slider a.mat_image, .reverse_mat .mat_slider div.mat_image {
    top: 50%; } }

@media all and (min-width: 48em) {
  .reverse_mat .mat_slider a.mat_image, .reverse_mat .mat_slider div.mat_image {
    top: 30%; } }

.reverse_mat .mat_slider a.mat_frame, .reverse_mat .mat_slider div.mat_frame {
  /*margin-left: 0%;
		top: 0;*/ }

/* WK pulsante */
.pulsante {
  border-radius: 1px;
  display: inline-block;
  padding: 10px;
  background: none;
  border-top: 1px solid rgba(255, 255, 255, 0);
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid #000;
  color: #000;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 2em;
  transition: all 0.3s ease-in-out; }

.pulsante:hover {
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  transition: all 0.3s ease-in-out;
  border-color: #000; }

.pulsante .pulsante_off {
  display: none; }

.pulsante.nopadtop {
  margin-top: 0; }

.pulsante.attivo .pulsante_off {
  display: inline; }

.pulsante.attivo .pulsante_on {
  display: none; }

.wrap_pulsante.wk_align_right {
  text-align: right; }

.wrap_pulsante.wk_align_center {
  text-align: center; }

/* COVER SLIDER IN HOMEPAGE */
.wk_home_cover {
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  position: relative;
  margin-top: -60px; }

@media all and (min-width: 48em) {
  .wk_home_cover {
    margin-top: initial;
    margin-top: 0; } }

.wk_home_cover:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0.6vw;
  background: #000;
  height: 100%; }

.wk_home_cover ul.slides {
  position: absolute;
  height: 100%;
  width: calc( 100% - 1.4vw); }

.wk_home_cover ul.slides > li {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.wk_home_cover .caption {
  position: absolute;
  top: calc( 100% + 7px);
  left: 7px;
  text-transform: uppercase;
  font-size: 0.82rem; }

.wk_home_cover .flex-control-nav {
  display: none !important; }

.wk_home_cover .flex-direction-nav a.flex-next, .wk_home_cover .flex-direction-nav a.flex-prev {
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  text-align: left;
  text-indent: -99999px; }

.wk_home_cover .flex-direction-nav a.flex-next:after, .wk_home_cover .flex-direction-nav a.flex-prev:after {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20195.6%20107.8%22%3E%3Cpath%20fill%3D%22#fff%22%20class%3D%22st0%22%20d%3D%22M97.8%20107.8c-2.6%200-5.1-1-7.1-2.9L2.9%2017.1C-1%2013.2-1%206.8%202.9%202.9%206.8-1%2013.2-1%2017.1%202.9l80.7%2080.7%2080.7-80.7c3.9-3.9%2010.2-3.9%2014.1%200%203.9%203.9%203.9%2010.2%200%2014.1l-87.8%2087.8c-1.9%202-4.4%203-7%203z%22%2F%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  content: '';
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%) rotate(90deg);
  transition: all 0.3s ease-in-out; }

.wk_home_cover .flex-direction-nav a.flex-next {
  left: initial;
  right: 0; }

.wk_home_cover .flex-direction-nav a.flex-next:after {
  left: initial;
  right: 20%;
  transform: translateY(-50%) rotate(-90deg); }

.notouch .wk_home_cover .flex-direction-nav a.flex-next:hover:after {
  right: 15%;
  transition: all 0.3s ease-in-out; }

.notouch .wk_home_cover .flex-direction-nav a.flex-prev:hover:after {
  left: 15%;
  transition: all 0.3s ease-in-out; }

h1.title_home {
  width: 100%;
  text-align: right;
  line-height: 1em;
  margin-top: 50px; }

@media all and (min-width: 48em) {
  h1.title_home {
    margin-top: 20px; } }

/* VK C2A BOX */
.wk_blocco_c2a {
  width: 100%;
  background: #989494;
  overflow: hidden;
  position: relative; }

@media all and (min-width: 48em) {
  .wk_blocco_c2a {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
    display: flex;
    /* */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center; } }

@media all and (min-width: 62.5em) {
  .wk_blocco_c2a {
    padding-top: 150px;
    padding-bottom: 150px; } }

@media all and (min-width: 78.75em) {
  .wk_blocco_c2a {
    padding-top: 200px;
    padding-bottom: 200px; } }

.wk_blocco_c2a hr {
  width: 110%;
  height: 0px;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  z-index: 11;
  opacity: 0.5; }

@media all and (min-width: 48em) {
  .wk_blocco_c2a hr {
    position: absolute;
    top: 100px; } }

@media all and (min-width: 62.5em) {
  .wk_blocco_c2a hr {
    top: 150px; } }

@media all and (min-width: 78.75em) {
  .wk_blocco_c2a hr {
    top: 200px; } }

@media all and (min-width: 48em) {
  .wk_blocco_c2a hr:nth-child(5) {
    position: absolute;
    top: calc( 50%); } }

@media all and (min-width: 62.5em) {
  .wk_blocco_c2a hr:nth-child(5) {
    top: calc( 50%); } }

@media all and (min-width: 78.75em) {
  .wk_blocco_c2a hr:nth-child(5) {
    top: calc( 50%); } }

@media all and (min-width: 48em) {
  .wk_blocco_c2a hr:nth-child(9) {
    top: initial;
    bottom: 100px; } }

@media all and (min-width: 62.5em) {
  .wk_blocco_c2a hr:nth-child(9) {
    top: initial;
    bottom: 150px; } }

@media all and (min-width: 78.75em) {
  .wk_blocco_c2a hr:nth-child(9) {
    top: initial;
    bottom: 200px; } }

.inner {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: 0;
  transform: scale(1);
  transition: all 0.3s ease-in-out; }

.item_c2a {
  width: 100%;
  height: 0;
  padding-top: 37.5%;
  padding-bottom: 37.5%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: block;
  background: #989494;
  transition: all 0.3s ease-in-out; }

@media all and (min-width: 48em) {
  .item_c2a {
    width: 50%;
    padding-top: 18.75%;
    padding-bottom: 18.75%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; } }

.item_c2a h1 {
  color: #fff;
  transform: translateY(-50%);
  text-align: right;
  padding-right: 10vw; }

@media all and (min-width: 48em) {
  .item_c2a h1 {
    padding-right: 4vw; } }

@media all and (min-width: 48em) {
  .item_c2a.first-from-tab {
    order: -1; } }

.item_c2a .wrap_pulsante {
  z-index: 9;
  position: absolute;
  bottom: 10vw;
  right: 10vw; }

@media all and (min-width: 48em) {
  .item_c2a .wrap_pulsante {
    bottom: 4vw;
    right: 4vw; } }

.item_c2a .wrap_pulsante .pulsante {
  background-color: initial;
  color: #fff;
  border: 0px;
  border-bottom: 1px solid #fff;
  text-align: right; }

.item_c2a .wrap_pulsante .pulsante:hover {
  background-color: initial;
  background: none !important;
  color: #fff !important;
  border: 1px solid #fff;
  opacity: 1; }

.notouch .item_c2a:hover {
  opacity: 1;
  background: #726e6e;
  transition: all 0.3s ease-in-out; }

.notouch .item_c2a:hover .pulsante:hover {
  background-color: initial;
  background: none !important;
  color: #fff !important;
  border: 1px solid #fff;
  opacity: 1; }

.notouch .item_c2a:hover .inner {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out; }

.consulenza h2 {
  color: #fff;
  bottom: 10vw;
  left: 6vw;
  position: absolute;
  font-size: 1.35rem;
  line-height: 1.1em; }

@media all and (min-width: 48em) {
  .consulenza h2 {
    bottom: 4vw;
    left: 4vw;
    font-size: 1.6rem; } }

.consulenza svg {
  position: absolute;
  height: 50%;
  bottom: 11.5vw;
  right: 6vw; }

@media all and (min-width: 48em) {
  .consulenza svg {
    bottom: 4.5vw;
    right: 4vw; } }

@media all and (min-width: 48em) and (-ms-high-contrast: none), all and (min-width: 48em) and (-ms-high-contrast: active) {
  .consulenza svg {
    bottom: 4.2vw;
    right: 2vw;
    width: 38%; } }

@media all and (min-width: 48em) {
  @supports (-ms-accelerator: true) {
    .consulenza svg {
      bottom: 4.2vw;
      right: 2vw;
      width: 38%; } } }

.consulenza svg * {
  fill: #fff; }

.vline {
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
  z-index: 9;
  opacity: 0; }

@media all and (max-width: 47.99em) {
  .vline {
    display: none; } }

.vertical-1 {
  left: calc( 4vw - 25px);
  height: 90%; }

.vertical-2 {
  left: calc( 50% - 4vw);
  height: 50%; }

.vertical-3 {
  left: calc( 50% - 25px);
  height: 95%; }

.vertical-4 {
  left: calc( 50% + 4vw - 50px);
  height: 50%;
  top: initial;
  bottom: 0; }

.vertical-6 {
  left: calc( 100% - 50px);
  height: 90%;
  top: initial;
  bottom: 0; }

.horizontal-1.module {
  transform: translateY(0%) translateX(100%); }

.horizontal-2.module {
  transform: translateY(0%) translateX(-100%); }

.horizontal-3.module {
  transform: translateY(0%) translateX(100%); }

.vertical-1.module {
  transform: translateY(60%) translateX(0); }

.vertical-2.module {
  transform: translateY(-70%) translateX(0); }

.vertical-3.module {
  transform: translateY(60%) translateX(0); }

.vertical-4.module {
  transform: translateY(-60%) translateX(0); }

.vertical-6.module {
  transform: translateY(70%) translateX(0); }

.module {
  opacity: 0.5;
  transition: all 0.3s ease-in-out; }

.vertical-1.come-in, .vertical-2.come-in, .vertical-3.come-in, .vertical-4.come-in, .vertical-6.come-in, .horizontal-1.come-in, .horizontal-2.come-in, .horizontal-3.come-in {
  transform: translateY(0) translateX(0);
  opacity: 0.5;
  transition: all 1s ease-in-out; }

.come-in:nth-child(odd) {
  transition-delay: .15s; }

.already-visible {
  /*transform: translateY(0);*/
  animation: none;
  opacity: 1;
  transform: translateY(0%) translateX(0%); }
