/* VK C2A BOX */

.wk_blocco_c2a {
	width: 100%;
	background: $grigio;
	overflow: hidden;
	position: relative;

	@include mq($from:tablet){
		padding-top: 100px;
		padding-bottom: 100px;
		padding-right: 50px;
		@include flex-parent;
	}
	@include mq($from:desktop){
		padding-top: 150px;
		padding-bottom: 150px;

	}
	@include mq($from:wide){
		padding-top: 200px;
		padding-bottom: 200px;
	}

	hr {
		width: 110%;
		height: 0px;
		margin: 0;
		border: 0;
		border-bottom: 1px solid $bianco;
		z-index:11;
		opacity: 0.5;

		@include mq($from:tablet){
			position: absolute;
			top: 100px;
		}
		@include mq($from:desktop){
			top: 150px;
		}
		@include mq($from:wide){
			top: 200px;
		}
	}

	hr:nth-child(5){
		@include mq($from:tablet){
			position: absolute;
			top: calc( 50% );
		}
		@include mq($from:desktop){
			top: calc( 50% );
		}
		@include mq($from:wide){
			top: calc( 50% );
		}
	}
	hr:nth-child(9){
		@include mq($from:tablet){
			top: initial;
			bottom: 100px;
		}
		@include mq($from:desktop){
			top: initial;
			bottom: 150px;
		}
		@include mq($from:wide){
			top: initial;
			bottom: 200px;
		}
	}
}

.inner {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	z-index: 0;
	transform: scale(1);
	@include transition();
}

.item_c2a {
	width: 100%;
	height: 0;
	padding-top: 37.5%;
	padding-bottom: 37.5%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	display: block;
	background: $grigio;
	@include transition();

	@include mq($from:tablet){
		width: 50%;
		padding-top: 18.75%;
		padding-bottom: 18.75%;
		@include flex-child;
	}

	h1 {
		color: $bianco;
		transform: translateY(-50%);
		text-align: right;
		padding-right: 10vw;

		@include mq($from:tablet){
			padding-right: 4vw;
		}
	}

	&.first-from-tab {
		@include mq($from:tablet){
			order: -1;
		}
	}

	.wrap_pulsante {
		z-index: 9;
		position: absolute;
		bottom: 10vw;
		right: 10vw;

		@include mq($from:tablet){
			bottom: 4vw;
			right: 4vw;
		}

		.pulsante {
			background-color:initial;
			color: $bianco;
			border: 0px;
			border-bottom: 1px solid $bianco;
			text-align: right;

			&:hover {
				background-color: initial;
				background: none !important;
				color: $bianco !important;
				border: 1px solid $bianco;
				opacity: 1;
			} 
		}
	}
}

.notouch .item_c2a:hover {
	opacity: 1;
	background: darken($grigio, 15%);
	@include transition();

	.pulsante {

		&:hover {
			background-color: initial;
			background: none !important;
			color: $bianco !important;
			border: 1px solid $bianco;
			opacity: 1;
		} 
	}

	.inner {
		transform: scale(1.1);
		@include transition();
	}
}


.consulenza h2 {
	color: $bianco;
	bottom: 10vw;
	left: 6vw;
	position: absolute;
	font-size: 1.35rem;
	line-height: 1.1em;

	@include mq($from:tablet){
		bottom: 4vw;
		left: 4vw;
		font-size: 1.6rem;
	}
}

.consulenza svg {
	position: absolute;
	height: 50%;
	bottom: 11.5vw;
	right: 6vw;

	@include mq($from:tablet){
		bottom: 4.5vw;
		right: 4vw;

		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		     bottom: 4.2vw;
		     right: 2vw;
		     width: 38%;
		}

		@supports (-ms-accelerator:true) {
		   bottom: 4.2vw;
		  		     right: 2vw;
		  		     width: 38%; 
		}
	}

	* {
		fill:$bianco;
	}
}


.vline {
	width: 1px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background:$bianco;
	z-index: 9;
	opacity: 0;

	@include mq($to:tablet){
		display: none;
	}
}

.vertical-1 {
	left: calc( 4vw - 25px );
	height: 90%;
}

.vertical-2 {
	left: calc( 50% - 4vw );
	height: 50%;
}

.vertical-3 {
	left: calc( 50% - 25px );
	height: 95%;
}

.vertical-4 {
	left: calc( 50% + 4vw - 50px );
	height: 50%;
	top: initial;
	bottom: 0;
}


.vertical-6 {
	left: calc( 100% - 50px );
	height: 90%;
	top: initial;
	bottom: 0;
}


.horizontal-1.module{
	transform: translateY(0%) translateX(100%);
}
.horizontal-2.module{
	transform: translateY(0%) translateX(-100%);
}
.horizontal-3.module{
	transform: translateY(0%) translateX(100%);
}
.vertical-1.module {
	transform: translateY(60%) translateX(0);
}
.vertical-2.module {
	transform: translateY(-70%) translateX(0);
}
.vertical-3.module {
	transform: translateY(60%) translateX(0);
}
.vertical-4.module {
	transform: translateY(-60%) translateX(0);
}
.vertical-6.module {
	transform: translateY(70%) translateX(0);
}

.module {
	opacity: 0.5;
	@include transition();
}


.vertical-1.come-in, .vertical-2.come-in, .vertical-3.come-in, .vertical-4.come-in, .vertical-6.come-in, .horizontal-1.come-in, .horizontal-2.come-in, .horizontal-3.come-in {
	transform: translateY(0) translateX(0);
	opacity: 0.5;
	@include transition($transition-time:1s);
}

.come-in:nth-child(odd) {
  transition-delay: .15s; 
}


.already-visible {
 /*transform: translateY(0);*/
  animation: none;
  opacity: 1;
  transform: translateY(0%) translateX(0%);
}
