/* COVER SLIDER IN HOMEPAGE */

.wk_home_cover {
	width: 100%;
	height: 0;
	padding-bottom: 66%;
	position: relative;
	margin-top: -60px;

	@include mq($from:tablet){
		margin-top: initial;
		margin-top: 0;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 0.6vw;
		background: $nero;
		height: 100%;
	}

	ul.slides {
		position: absolute;
		height: 100%;
		width: calc( 100% - 1.4vw );

	}

	ul.slides > li {
		position: absolute;
		height: 100%;
		width: 100%;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.caption {
		position: absolute;
		top: calc( 100% + 7px );
		left: 7px;
		text-transform: uppercase;
		font-size: 0.82rem;
	}

	.flex-control-nav {
		display: none !important;
	}

	.flex-direction-nav a.flex-next, .flex-direction-nav a.flex-prev {
		width: 30%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
		text-align: left;
		text-indent: -99999px;

		&:after {
		  @include arrow("up", $bianco);
		  content: '';
		  width: 20%;
		  height: 0;
		  padding-bottom: 20%;
		  position: absolute;
		  top: 50%;
		  left: 20%;
		  transform: translateY(-50%) rotate(90deg);
		  @include transition();
		}
	}

	.flex-direction-nav a.flex-next {
		left: initial;
		right: 0;
		&:after {
		  left: initial;
		  right: 20%;
		  transform: translateY(-50%) rotate(-90deg);
		}
	}
}

.notouch .wk_home_cover .flex-direction-nav a.flex-next:hover{
	&:after {
		right: 15%;
		@include transition();
	}
}
.notouch .wk_home_cover .flex-direction-nav a.flex-prev:hover{
	&:after {
		left: 15%;
		@include transition();
	}
}

h1.title_home {
	width: 100%;
	text-align: right;
	line-height: 1em;
	margin-top: 50px;

	@include mq($from:tablet){
		margin-top: 20px;
	}
}