/* VK MATERIOTECA BOX */


.wk_box_materioteca {
	position: relative;
	overflow: hidden;
}

.mat_text {
	@include flex-parent($justification:flex-start);

	@include mq($from:tablet){
		width: 100%;
		height: 0;
		padding-bottom: 60%;
		position: relative;
	}

	h1 {
		@include flex-child;
		order: -1;
		margin-bottom: 30px;

		@include mq($from:tablet){
			order: initial;
			position: absolute;
			height: 0;
			padding-bottom: 15%;
			padding-top: 15%;
			align-items: center;
			display: flex;
			margin-top: 30%;
			width: 56%;
			top: 0;
		}
	}

	h3.mat_intro {
		line-height: 1.66rem;

		@include mq($from:tablet){
			margin-right: 66%;
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			height: 0;
			padding-top: 15%;
			padding-bottom: 15%;
			width: 30%;
			box-sizing: border-box;
		}
	}

	.wrap_pulsante {
		width: 100%;

		@include mq($from:tablet){
			position: absolute;
			bottom: 0;
		}
	}
}

.mat_slider {
	width: 100%;
	position: relative;
	margin-top: 30px;
	height: 0;
	padding-bottom: 100%;

	@include mq($from:tablet){
		margin-top: 0;
		width: 60%;
		position: absolute;
		top: 0;
		right: 0;
	}

	ul.slider {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		width: 100%;
	}

	a.mat_image, div.mat_image {
		width: 50%;
		height: 0;
		display: block;
		padding-bottom:50%;
		overflow: hidden;
		position: relative;

		.inner {
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			transform: scale(1);
			@include transition( $transition-time:0.6s );
			width: 100%;
			height: 100%;
			position: absolute;
		}

		&:hover{
			opacity: 1;
			.inner {
				transform: scale(1.1);
				@include transition($transition-time:0.6s);
			}
		} 
	}
	a.mat_frame, div.mat_frame {
		width: 50%;
		height: 0;
		padding-bottom: 50%;
		//border: 3px solid $nero;
		box-shadow:0px 0px 0px 3px black inset;
		box-sizing: border-box;
		position: relative;
		margin-left: 50%;
		display: block;
		@include transition();



		h4 {
			position: absolute;
			bottom: 10px;
			left: 13px;
			line-height: 1em;
			font-size: 1rem;
			width: calc( 100% - 20px );

			@include mq($from:tablet){
				max-width: 60%;
				font-size: 1.25rem;
			}
		}

		&:hover {
			opacity: 1;
			background: $nero;
			color: $bianco;
			@include transition();
		}
	}

	.flex-control-nav, .flex-direction-nav {
		display: none !important;
	}
}


/* OUTPUT PAGINA MATERIOTECA */

.open_overlay {
	cursor: pointer !important;
}

.reverse_mat {
	@include mq($to:tablet){
		margin-bottom: 2em;
		margin-left: 4%;
		margin-right: 4%;
	}
}

.reverse_mat .mat_text {

	h1 {
		@include mq($from:tablet){
			order: -1;
			margin-top: 0%;
		}
	}

	h3.mat_intro {
		@include mq($from:tablet){
			margin-top: 30%;
		}
	}
}

.reverse_mat .mat_slider {

	@include mq($to:tablet){
		padding-bottom: 50%;
	}

	a.mat_image, div.mat_image {
		
		@include mq($from:tablet){
			top: 50%;
		}
		position: absolute;

		@include mq($from:tablet){
			top: 30%;
		}
	}
	a.mat_frame, div.mat_frame {
		/*margin-left: 0%;
		top: 0;*/
	}
}
