/* WK pulsante */


.pulsante {
	border-radius:1px;
	display: inline-block;
	padding: 10px;
	background: none;
	border-top: 1px solid rgba($bianco, 0);
	border-left: 1px solid rgba($bianco, 0);
	border-right: 1px solid rgba($bianco, 0);
	border-bottom: 1px solid $nero;
	color: $nero;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 1rem;
	margin-top: 2em;
	@include transition();

	&:hover {
		padding-left: 20px;
		padding-right: 20px;
		color: $nero;
		@include transition();
		border-color: $nero;
	}

	.pulsante_off {
		display: none;
	}
}

.pulsante.nopadtop {
	margin-top: 0;
}

.pulsante.attivo {
	.pulsante_off {
		display: inline;
	}
	.pulsante_on {
		display: none;
	}
}

.wrap_pulsante.wk_align_right {
	text-align: right;
}
.wrap_pulsante.wk_align_center {
	text-align: center;
}