/* SLIDER */

.webkolm-slider {
	width: 100%;
	height: auto;
	position: relative;

	@include mq($from:desktop){
		margin-bottom: 5px;
	}
	@include mq($from:wide){
		margin-bottom: 10px;
	}


	ul.slides {
		width: 100%;
		height: auto;

		li {
			width: 100%;
			height: 0;
			padding-bottom:0%;
			position: relative;
			height: auto;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;

			.slideimg {
				display: block;
				position: relative;
				width: 100%;
				padding-bottom: 100%;
				height: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;

				@include mq($from:tablet){
					padding-bottom: calc( 100vh - 135px);
				}
				@include mq($from:desktop){
					padding-bottom: calc( 100vh - 145px);
				}
				@include mq($from:wide){
					padding-bottom: calc( 100vh - 150px);
				}

				/*
				@include mq($from:tablet){
					padding-bottom: calc( 100vh - 190px);
				}
				@include mq($from:desktop){
					padding-bottom: calc( 100vh - 215px);
				}
				@include mq($from:wide){
					padding-bottom: calc( 100vh - 230px);
				}

				
		
				*/
			}

			.testo_slide {
				width: 100%;
				position: relative;
				padding: 10px;
				padding-left: 0vw;
				padding-right: 0vw;
				text-align: left;
				color:$nero;


				@include mq($to:tablet){
					color: $grigio !important;
				}

				@include mq($from:tablet){
					position: absolute;
					width: auto;
					max-width: 600px;
					color: $bianco;
				}

				h2 {
					font-size: 2em;
					text-transform: uppercase;
					margin-bottom: 3px;
					padding-right: 15vw;
					@include mq($from:tablet){
						font-size: 2.85em;
						padding-right: 0;
					}
					@include mq($from:desktop){
						font-size: 3.33em;
					}
					@include mq($from:wide){
						font-size: 3.72em;
					}
				}

				span {
					font-size: 1.5em;
					line-height: 1.2em;
					font-weight: 300;
					@include mq($from:tablet){
						font-size: 1.7em;
					}
					@include mq($from:desktop){
						font-size: 1.8em;
					}
					@include mq($from:wide){
						font-size: 2em;
					}
				}



				&.top-left {
					@include mq($from:tablet){
						text-align: left;
						left: 8vw;
						top: 8vw;
					}
				}
				&.top-center {
					@include mq($from:tablet){
						text-align: center;
						left: 50%;
						transform:translateX(-50%);
						top: 8vw;
					}
				}
				&.top-right {
					@include mq($from:tablet){
						text-align: right;
						right: 8vw;
						top: 8vw;
					}
				}
				&.center-left {
					@include mq($from:tablet){
						text-align: left;
						left: 8vw;
						transform:translateY(-50%);
						top: 50%;
					}
				}
				&.center-center {
					@include mq($from:tablet){
						text-align: center;
						left: 50%;
						transform:translateX(-50%) translateY(-50%);
						top: 50%;
					}
				}
				&.center-right {
					@include mq($from:tablet){
						text-align: right;
						right: 8vw;
						transform:translateY(-50%);
						top: 50%;
					}
				}
				&.bottom-left {
					@include mq($from:tablet){
						text-align: left;
						left: 8vw;
						bottom: 8vw;
					}
				}
				&.bottom-center {
					@include mq($from:tablet){
						text-align: center;
						left: 50%;
						transform:translateX(-50%);
						bottom: 8vw;
					}
				}
				&.bottom-right {
					@include mq($from:tablet){
						text-align: right;
						bottom: 8vw;
						right: 8vw;
					}
				}
			}

			.caption {
				position: absolute;
				max-width: 30px;
				min-width: 30px;
				min-height: 30px;
				border-radius:15px;
				background: rgba(255,255,255,0);
				border:2px solid $bianco; 
				overflow: hidden;
				bottom:15px;
				left: 15px;
				color: $bianco;
				transition:max-width .3s, background 0.3s, color .3s;
				transition-delay:0.3s;

				@include mq($from:tablet){
					max-width: 48px;
					min-width: 48px;
					min-height: 48px;
					border-radius:24px;
					bottom: 24px;
					left: 24px;
				}

				span {
					display: block;
					margin-left: 30px;
					padding-top: 6px;
					padding-bottom: 6px;
					padding-right: 10px;
					font-size: 11px;
					line-height: 14px;
					max-height: 26px;
					min-width: 100px;
					overflow: hidden;
					transition-property:max-height;
					transition-duration: 0.3s;
					transition-delay:0s;

					&::first-letter {text-transform: uppercase}

					@include mq($from:tablet){
						margin-left: 48px;
						padding-top: 14px;
						padding-bottom: 14px;
						padding-right: 20px;
						font-size: 12px;
						line-height: 16px;
						max-height: 36px;
					}
					@include mq($from:desktop){
						padding-top: 13px;
						padding-bottom: 13px;
						font-size: 13px;
						line-height: 17px;
					}
					@include mq($from:wide){
						padding-top: 12px;
						padding-bottom: 12px;
						font-size: 14px;
						line-height: 18px;
					}
				}

				&:before {
					display: block;
					position: absolute;
					text-align: center;
					content: "i";
					width: 30px;
					height: 30px;
					left: 0;
					line-height: 100%;
					font-size: 25px;
					top: 50%;
					margin-top: -12px;
					left: -2px;
					@include mq($from:tablet){
						content: "i";
						width: 48px;
						height: 48px;
						font-size: 30px;
						top: 50%;
						margin-top: -15px;
					}
				}
			}

			.caption.attivo {
				max-width: calc( 100% - 30px ) !important;
				background: $bianco !important;
				color: $grigio !important;
				transition:max-width .3s, background 0.3s, color .3s;
				transition-delay:0s !important;

				&:before {
					content: "x" !important;
					font-size: 19px !important;
					margin-top: -11px !important;
					font-weight: 300 !important;
					@include mq($from:tablet){
						font-size: 25px !important;
						margin-top: -15px !important;
					}
				}

				span {
				    max-height:90px !important;
				    max-height:100% !important;
				    transition-property:max-height !important;
				    transition-duration: 0.3s !important;
				    transition-delay:.2s !important;
				  }
			}


		}
	}
}

.notouch .webkolm-slider {
	@include mq($from:tablet){
		a.flex-prev, a.flex-next {
			display:block;
		}

		.flex-direction-nav li a {
		  text-indent: -999999px;
		  position: absolute;
		  width: 8vw;
		  height: 80%;
		  top: 10%;
		  z-index: 9;
		  cursor: pointer;
		  background: url('/wp-content/themes/wk_henryglass/img/cursor-left.png') no-repeat left 5% center;
		  opacity: 0;
		  left: 2%;


		  &.flex-next {
		  	left: inherit;
		    right: 2%;
		    background: url('/wp-content/themes/wk_henryglass/img/cursor-right.png') no-repeat right 5% center;
		  }
		}
	}
}

.notouch .webkolm-slider:hover {
	@include mq($from:tablet){
		.flex-direction-nav li a { opacity: 0.3; left:1%;}
		.flex-direction-nav li a.flex-next { left:inherit; right: 1%;}
		.flex-direction-nav li a:hover { opacity: 1; left: 0%;}
		.flex-direction-nav li a.flex-next:hover { right: 0%; left: inherit;}
	}
}

.notouch .wk_caption_inside .caption:hover {
	max-width: calc( 100% - 30px ) !important;
	background: $bianco !important;
	color: $grigio !important;
	transition:max-width .3s, background 0.3s, color .3s;
	transition-delay:0s !important;

	span {
	    max-height:90px !important;
	    max-height:100% !important;
	    transition-property:max-height !important;
	    transition-duration: 0.3s !important;
	    transition-delay:.2s !important;
	  }
}

.notouch a.slidelink {
	text-shadow:0px 0px 0px rgba(0,0,0,0);
	transition: text-shadow .5s;

	&:hover {
		text-shadow:0px 0px 15px rgba(0,0,0,0.4);
	}
}


.webkolm-slider.wk_vertical {
	width: 100%;
	height: 0;
	padding-bottom: 132%;
	position: relative;

	ul.slides {
		width: 100%;
		height: auto;

		li {
			width: 100%;
			height: auto;

			.slideimg {
				display: block;
				position: relative;
				width: 100%;
				padding-bottom: 132%;

				@include mq($from:tablet){
					padding-bottom: 132%;
				}
				@include mq($from:desktop){
					padding-bottom: 132%;
				}
				@include mq($from:wide){
					padding-bottom: 132%;
				}
			}

		}
	}
}


.webkolm-slider.wk_horizontal {
	width: 100%;
	height:0;
	padding-bottom: 60%;
	position: relative;

	ul.slides {
		width: 100%;
		height: auto;

		li {
			width: 100%;
			height: auto;

			.slideimg {
				display: block;
				position: relative;
				width: 100%;
				padding-bottom: 60%;

				@include mq($from:tablet){
					padding-bottom: 60%;
				}
				@include mq($from:desktop){
					padding-bottom: 60%;
				}
				@include mq($from:wide){
					padding-bottom: 60%;
				}
			}

		}
	}
}

.webkolm-slider.wk_squared {
	width: 100%;
	height: 0;
	position: relative;
	padding-bottom: 100%;

	ul.slides {
		width: 100%;
		height: auto;

		li {
			width: 100%;
			height: auto;

			.slideimg {
				display: block;
				position: relative;
				width: 100%;
				padding-bottom: 100%;

				@include mq($from:tablet){
					padding-bottom: 100%;
				}
				@include mq($from:desktop){
					padding-bottom: 100%;
				}
				@include mq($from:wide){
					padding-bottom: 100%;
				}
			}

		}
	}
}


.webkolm-slider.wk_horizontal, .webkolm-slider.wk_vertical, .webkolm-slider.wk_squared {

	.flex-control-nav {
		display: none !important;
	}

	.flex-direction-nav a.flex-next, .flex-direction-nav a.flex-prev {
		width: 30%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
		text-align: left;
		text-indent: -99999px;
		z-index: 9;

		&:after {
		  @include arrow("up", $bianco);
		  content: '';
		  width: 20%;
		  height: 0;
		  padding-bottom: 20%;
		  position: absolute;
		  top: 50%;
		  left: 20%;
		  transform: translateY(-50%) rotate(90deg);
		  @include transition();
		}
	}

	.flex-direction-nav a.flex-next {
		left: initial;
		right: 0;
		&:after {
		  left: initial;
		  right: 20%;
		  transform: translateY(-50%) rotate(-90deg);
		}
	}

	.flex-disabled {
		display: none !important;
	}

}




.webkolm-slider.wk_caption_outside {
	
	ul.slides {

		li.out_caption {

			padding-bottom: 100px;

			.caption {
				position: absolute;
				max-width:70%;
				border:0; 
				overflow: auto;
				top:100%;
				left: 0;
				color: $grigio;
				transition:none;
				font-size: 12px;
				border-radius:0px !important;
				line-height: 1.5em;
			    overflow: visible;
			    padding-top: 10px;

				@include mq($from:tablet){
					max-width: 100%;
					bottom: 0px;
					left: 0px;
				}

				span {
					display: block;
					position: relative;
					margin-left: 0px;
					padding-top: 1.4em;
					padding-bottom: 0.7em;
					padding-right: 0px;
					font-size: 11px;
					line-height: 1.5em !important;
					max-height: inherit !important;
					overflow: auto;
					transition:none !important;
					font-weight: 300;

					@include mq($from:tablet){
						font-size: 12px;
					}
					@include mq($from:desktop){
						font-size: 13px;
					}
					@include mq($from:wide){
						font-size: 14px;
					}

					&:before {
						display: block;
						position: absolute;
						max-width: inherit;
						max-height: inherit;
						width: 40px;
						height: 1px;
						overflow: hidden;
						line-height: 2px;
						top:inherit;
						bottom: 0;
						margin-top: 0px;
						left: 0px;
						content: "" !important;
						background: $grigio;

						@include mq($from:tablet){
							height: 2px;
						}
					}

				}

				&:before {
					display: none !important;
				}
			}

		}
	}
}

.webkolm-slider.wk_contain ul li {
	
	background-color: darken($grigiochiaro, 30%)!important;

	.slideimg{

		background-size: contain !important;

	}
}
