/* CASE HISOTRY */

.stile_voce_filtro {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.9rem;
}

.taxonomy-description {
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 600px;
	text-align: center;
	margin: 0 auto;

	@include mq($from:tablet){
		padding-top: 40px;
		padding-bottom: 30px;
	}
	@include mq($from:desktop){
		padding-top: 50px;
		padding-bottom: 40px;
	}
	@include mq($from:wide){
		padding-top: 60px;
		padding-bottom: 50px;
	}
}

.lista-categorie {
	@include mq($to:tablet){
		display: none;
	}
	width: 100%;
	border-bottom: 3px solid $nero;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 40px;
	@include flex-parent($justification:space-between);

	li {
		@include flex-child();
		min-height: 20px;
		line-height: 20px;
		@extend .stile_voce_filtro;
	}

	li a{
		@include transition();
	}

	li a:hover, li a.superattivo {
		color: $grigio;
		@include transition();
	}

}


.wrap-filtro {
	@include flex-parent();
	padding-top: 30px;

	@include mq($from:tablet){
		padding-bottom: 30px;
	}
}

.filtro-categorie, .lista-filtro-categorie {
	@extend .stile_voce_filtro;
}

.lista-filtro-categorie{
	border: 2px solid $nero;
	position: relative;

	select {
		margin: 0;
		padding: 0;
		background-color: $bianco;
		appearance:none;
		-moz-appearance:none; /* Firefox */
		-webkit-appearance:none; /* Safari and Chrome */
		background-image: none;
		background-position: center right 5px;
		background-repeat: no-repeat;
		border-radius: 0 !important;
		border: 0;
		height: 30px;
		line-height: 30px;
		padding-left: 7px;
		padding-right: 40px;
		@extend .stile_voce_filtro;

	}
	&:after {
		content: '';
		height: 16px;
		width: 16px;
		position: absolute;
		right:7px;
		top: 7px;
		@include arrow($direction:down);
	}
}


/* SINGOLA CASE HISOTRY */


.item-case {
	position: relative;
	margin-top: 45px;
	@include flex-parent();
	width: calc( 100% - 1.4vw );

	@include mq($from:tablet){
		width: 100%;
		margin-top: 60px;
		margin-bottom: 80px;
	}
	@include mq($from:desktop){
		margin-bottom: 110px;
	}
	@include mq($from:wide){
		margin-bottom: 140px;
	}


	&:after {
		content: '';
		width: 4px;
		height: 100%;
		position: absolute;
		right: -2vw;
		top: 0;
		background: $nero;

		@include mq($from:tablet){
			left: calc( 65% + 9px);
		}
	}

	.item-text {
		@include testo_due;
		line-height: 1.6666em;
		font-size: 1.12rem;
		@include flex-child();
		width: 100%;
		padding-right: 5vw;
		@include mq($from:tablet){
			width: 35%;
			padding-right: 0;
			padding-left: 5vw;
			line-height: 1.4rem;
			font-size: 1rem;
		}
		@include mq($from:desktop){
			line-height: 1.666rem;
			font-size: 1.12rem;
		}
	}

	.item-image {
		@include flex-child();
		width: 100%;

		@include mq($from:tablet){
			width: 65%;
		}
	}

	.item-title-wrap {

		@include mq($from:desktop){
			text-align: right;
			margin-bottom: -5px;
		}

		h3 {
			font-size: 2.5rem;
			line-height: 1em;
		}
	}
}

.item-case:nth-child(even) {
		&:after {
			@include mq($from:tablet){
				left: calc( 35% - 13px);
			}
		}

		.item-text {
			@include mq($from:tablet){
				order: -1;
				padding-left: 1vw;
				padding-right: 4vw;
			}
		}

		.item-title-wrap {

			@include mq($from:desktop){
				text-align: left;
			}
		}
}


.item-case.case-overlay {
	&:after {
		display: none;
	}

	.item-title-wrap.item-title-overlay {
		text-align: center !important;
		background: rgba($bianco, .85);
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 3;

		a.pulsante {
			background: none !important; 
			border-right-color: rgba($bianco, 0);
			border-left-color: rgba($bianco, 0);
			border-top-color: rgba($bianco, 0); 

			&:hover {
				border-right-color: rgba($nero, 1);
				border-left-color: rgba($nero, 1);
				border-top-color: rgba($nero, 1); 
			}
		}
	}
}

.touch .item-case.case-overlay .item-title-wrap.item-title-overlay a.pulsante {
	display: none;
}

.item-case.single-pro-project {
	width: 100%;

	&:after {
		content: '';
	    position: absolute;
	    top: 0;
	    left: initial;
	    right: 0;
	    width: 0.6vw;
	    background: #000;
	    height: 100%;
	}

	.item-image {
		width: calc( 100% - 2.8vw);
	}

}

.notouch .item-case.case-overlay .item-title-wrap.item-title-overlay {
	background: rgba($bianco, .60);
	@include transition();
}

.notouch .item-case.case-overlay:hover .item-title-wrap.item-title-overlay {
	background: rgba($bianco, .95);
	@include transition();
}

.case-slider {
	width: 100%;
	height: 0;
	padding-bottom: 66%;
	position: relative;
	margin-bottom: 20px;

	ul.slides {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		height: 100%;
		position: absolute;
	}

	ul.slides > li{
		width: 100%;
		height: 100%;
		position: absolute;
	}

	ul.slides > li > a{
		width: 100%;
		height: 100%;
		position: absolute;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		cursor: -webkit-zoom-in;  
		cursor: zoom-in; 

		&:hover {
			opacity: 1;
		}
	}

	.flex-control-nav {
		display: none !important;
	}

	.flex-direction-nav a.flex-next, .flex-direction-nav a.flex-prev {
		width: 30%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
		text-align: left;
		text-indent: -99999px;
		z-index: 9;

		&:after {
		  @include arrow("up", $bianco);
		  content: '';
		  width: 20%;
		  height: 0;
		  padding-bottom: 20%;
		  position: absolute;
		  top: 50%;
		  left: 20%;
		  transform: translateY(-50%) rotate(90deg);
		  @include transition();
		}
	}

	.flex-direction-nav a.flex-next {
		left: initial;
		right: 0;
		&:after {
		  left: initial;
		  right: 20%;
		  transform: translateY(-50%) rotate(-90deg);
		}
	}

	.flex-disabled {
		display: none !important;
	}
}

.notouch .case-slider .flex-direction-nav a.flex-next:hover{
	cursor: e-resize;
	&:after {
		right: 15%;
		@include transition();
	}
}
.notouch .case-slider .flex-direction-nav a.flex-prev:hover{
	cursor: w-resize;
	&:after {
		left: 15%;
		@include transition();
	}
}