
/* FOOTER */

#footer {
	width: 100vw;
	background: $nero;
	color: $bianco;
	position: absolute;
	z-index: 99999;
	min-height: 200px;
	padding-top: 50px;

	@include mq($from:tablet){
		padding-top: 70px;
		margin-top: 80px;	
	}
	@include mq($from:desktop){
		padding-top: 80px;	
	}
	@include mq($from:wide){
		padding-top: 100px;	
	}

	h1 {
		font-size: 2rem;
		@include mq($from:desktop){
			font-size: 3rem;
		}
	}

	&:before {

		@include mq($to:tablet){
			display: none;
		}
		content: '';
		position: absolute;
		top: -40px;
		height: 40px;
		width: 100%;
		left: 0;
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.68) 38%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	}

	svg * {
		fill:$bianco;
	}

	a {
		color: $color_4;

		&:hover {
			color: $bianco;
		}
	}


	form {
		@include testo_uno;

		@include mq($to:tablet){
			padding-bottom: 4em;
		}

		input {
			margin: 0;
			border: 0;
			background: none !important;
			height: 34px;
			line-height: 30px;
			font-style: italic;
			color: $bianco;
			padding-left: 7px;
			border-bottom: 1px solid $bianco;
			box-sizing: content-box;
			border-radius: 0;

		}
		button {
			margin: 0;
			border: 1px solid $bianco;
			text-transform: uppercase;
			height: 30px;
			line-height: 30px;
			padding-left: 20px;
			padding-right: 20px;
			@include transition();
			margin-left: 10px;
			background:none;
    		box-sizing: content-box;
    		font-size: 16px;
    		border-radius: 0;

    		@include mq($to:tablet){
    			margin: 0 auto;
    			margin-top: 17px;
    		}

			&:hover {
				background: $bianco;
				color: $nero;
				@include transition();
			}
		}
	}
}

.credit_footer {
	@include testo_uno;
	font-size: 0.9rem;
	line-height: 1.3em;
}

.logo-penta {
	@include mq($to:desktop){
		position: relative;
	    text-align: center;
	    transform: translateX(-50%);
	    left: 50%;
	    margin-bottom: 30px;
	}

	display: block;
	width: 174px;
	overflow: hidden;
	left: 4vw;
	position: absolute;
	text-align: center;
	font-size: 0.9rem;

	@include mq($from:1400){
		left: calc( ( 100vw - 1400px ) / 2 + 4vw );
	}

	svg {
		margin-bottom: 10px;
	}
}

.footer-content {
	width: 94%;
	margin: 0 auto;
	position: relative;
	@include testo_due;
	font-size: 1.2rem;
	line-height: 1.66em;
	font-weight: 100;
	color: $color_4;

	@include mq($from:desktop){
		width: calc( 84vw - 175px );
		left: calc( 10vw + 175px );
		margin: 0;
	}
	@include mq($from:1400){
		width: calc( 1400px - 175px - 14vw );
		left: calc( ( 100vw - 1400px ) / 2 + 10vw + 175px );
	}

	h1 {
		color: $bianco;
	}
}