/* HEADER */
/* TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA */
/* STILE DEL MENU DI APERTURA DEL MENU */




header {
	z-index: 99999;
	top: 0;
	position: fixed;
	width: 100%;
	background: $bianco;
	height: 48px;

	@include mq($from:desktop){
		height: 100vh;
		width: 175px;
		left: 4vw;

		@include mq($from:1400){
			left: calc( ( 100vw - 1400px ) / 2 + 4vw );
		}
	}
}


/* LOGO PRINCIPALE*/

.titolo_sito {
	display: block;
	position: absolute;
	left: 0;
	width: 150px;
	height: 48px;
	overflow: hidden;

	@include mq($from:desktop){
		height: initial;
		width: 100%;
		overflow: initial;
		position: relative;
		height: 0;
		padding-bottom: 100%;
	}

	svg { 
		display: block;
	    position: absolute;
	    display: block;
	    height: 130px;
	    top: -42px;
	    left: 11px;

	    @include mq($from:desktop){
	    	top: initial;
	    	left: 0;
	    	width: 174px;
	    	height: 174px;
	    	position: relative;
	    	top:0;
	    }

	    #logo {
	    	display: none;

	    	@include mq($from:desktop){
	    		display: block;
	    	}
	    }
	 }
}


.notouch .titolo_sito svg #logo {
	opacity: 1;
	@include transition();
}

.notouch .titolo_sito:hover svg #logo {
	opacity: 0;
	@include transition();
}



/* SELETTORI LINGUA */

#lingue_mobile {
	text-transform: uppercase;
	& > li {
		
		a  {
			display: block;
			width:100%;
			color:$color_nav;
			outline: none;
			font-size:16px;
			letter-spacing: 1px;
			padding: 1em 0.5em 1em 1em;
			text-align: center;
		}
	}
}

