/* MENUMOBILE:SCSS */

// Variabili colori menu' mobile
$sfondo_nav:$bianco;
$color_nav:$nero;
$ombra_nav:$nerochiaro;
$bottone_color:$nero;

/* STILE DEL MENU DI APERTURA DEL MENU */
.hamburger {
  position:fixed;
  z-index:99999;
  right:0; 
  top:0;
  width:48px;
  height:48px;
  padding-top:12px;
  box-sizing:border-box;

  @include mq($from:desktop){
  	display: none;
  }
}
.hamburger .line{
  width: 21px;
  height: 1px;
  background-color: $bottone_color;
  display: block;
  margin: 5px auto;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(0px) rotate(0deg);
}

.hamburger:hover{
  cursor: pointer;
}

.hamburger.is-active .line {
	background-color: $nero;
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#hamburger-menu.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-menu.is-active .line:nth-child(1){
  transform: translateY(6px) rotate(45deg);
}

#hamburger-menu.is-active .line:nth-child(3){
  transform: translateY(-6px) rotate(-45deg);
}



.nav-open{
	overflow-y: hidden!important;
	height: 100%;
}

body.nav-open nav.finotab {
	top:0;
	right: 0;
	bottom:0;
	left: 0;
	@include transition();
	display: block;
 }


nav.finotab{
	background:$sfondo_nav;
	width: 100vw;
	height: 100%;
	position: fixed;
	z-index: 99999;
	top: 0; 
	left: -100%;
	transition:all .4s;
	border: 3px solid $color_nav;
	box-sizing: border-box;
	overflow-y:scroll;
	display: none;
	
	
	.nav_wrapper {
		position:absolute;
		width:100%;
		height:100%;
	}

	.wrapper-interno {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}

	.titolo_sito_nav {
		width: 36%;
		left: 32%;
		position: relative;
		display: block;
	}
	
	ul {
		margin: 0;
		margin-top: 30px;
		padding: 0;

		& > li {
			list-style: none;
			text-align: center;
			
			a  {
				display: block;
				width:100%;
				color:$color_nav;
				outline: none;
				font-size:16px;
				letter-spacing: 1px;
				padding: 1em 0.5em 1em 1em;
				text-shadow: 0 0 1px rgba($ombra_nav,0.1);
				border-bottom:1px solid $sfondo_nav;
				box-sizing: border-box;
				font-weight: 300;
			}	
			/*
			a:hover {
				background:lighten($sfondo_nav,2%);
			}
			*/
			
		} /* LI */
		
		/* NASCONDO SOTTOMENU */
		& > li > ul { display:none; }
		
		/* MOSTRO SOTTOMENU SE ATTIVI */
		& > li.current-menu-ancestor > ul { display:block; }
		
		li.menu-item-has-children > a {


			&:after { 
				float:right;
				margin-right:5%;
				padding-top:0px;
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				@include arrow("down", $color_nav);
			}
			&.attivo {
				&:after {
					@include arrow("up", $color_nav);
				}
			} 
			&.aperto {
				&:after {
					@include arrow("up", $color_nav);
				}
			} 
		}

	} /* UL */

	ul#menu-principale > li > a { border-bottom:1px solid lighten($sfondo_nav,10%); height: 48px; text-transform: uppercase;}

	ul#menu-principale > li > ul.sub-menu > li > a { background:lighten($sfondo_nav,10%); }
	ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li > a { background:lighten($sfondo_nav,20%); }
	ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a { background:lighten($sfondo_nav,30%); }

	ul#menu-principale > li > ul.sub-menu > li.current-menu-item > a { color:$color_nav;}
	
	ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li.current-menu-item > a { color:$color_nav; background: lighten($sfondo_nav, 50%);}
	
	ul#menu-principale > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li.current-menu-item > a  { color: $color_nav; background: lighten($sfondo_nav, 50%);}

	/* NASCONDO IMMAGINI E DESCRIZIONI */

	span.sub, span.menu-image-wrapper { display: none !important;}

}

