/* MENUWIDE.SCSS */


.vertical_wrap {
	@include mq($from:desktop){
		width: 100%;
		//top: 50%;
		//top: 27.5%;
		top:10vh;
		position: absolute;
		//transform: translateY(-50%);
	}
}

/* MENU DESKTOP */
nav.dawide {

	@include mq($to:desktop){
		display: none;
	}

	ul#menu_wide {
		padding: 0;
		margin: 0;
		margin-top: 20px;
		display: inline-block;

		li {
			padding: 0;
			margin: 0;
			display: inline-block;
			position: relative;
			width: 100%;
			min-height: 30px;


			a {
				font-size: 14px;
				color: darken($color_4, 30%);
				//letter-spacing: 0.09em;
				text-transform: uppercase;
				font-weight: 300;
				@include transition();
				position: relative;
				white-space: nowrap;

				
				&:after {
					content: '';
					top: 110%;
					left: 0;
					width: 0%;
					border-bottom: 1px solid $nero;
					position: absolute;
					@include transition();
				}
			}

			a:hover {
				&:after {
					
					width: 100%;
					@include transition();
					
				}
			}

			
		}

		/* ATTIVO VOCI */
			
		li.current-menu-item a, li.current-page-item a,  li.current-menu-parent > a, li a:hover {
			color: $nero;
			@include transition();
			&:after {
				
				width: 100%;
				@include transition();
				
			}
		}
	}
}


.selettore_lingua_wide {
	@include mq($to:desktop){
		display: none;
	}
	font-size: 14px;
	color: #8e8683;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	font-weight: 300;
	@include transition();

	&:hover {
		color: $nero;
		@include transition();
	}

	font-size: 16px;
	/* font-weight: bold; */
	position: fixed;
	right: 5vh;
	top: 10vh;
	line-height: 1em;
}
