/* STILE OVERLAY */

/* SINGOLO ANNUNCIO */


/* SINGOLO ANNUNCIO */
#singolo-overlay, {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: rgba($nero, 0.85);
  z-index: 99999;
  overflow: hidden;
  overflow-Y: scroll;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  visibility: hidden;
  @include transition();
}


#singolo-overlay.open {
  visibility: visible;
  opacity: 1;
  top: 0;
  @include transition();
}


.wrapper-singolo {
  top: 60px;
  position: absolute;
  width: 90%;
  left: 5%;
  background: $bianco;
  margin-bottom: 60px;

  @include mq($from:tablet){
    top: 100px;
    margin-bottom: 100px;
    max-width: 900px;
    position: relative;
    margin: 0 auto;
    left: initial;
  }
  @include mq($from:desktop){
    top: 120px;
    margin-bottom: 120px;
  }
}


/* Overlay closing cross  */
#singolo-overlay .overlay-close {
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transform:rotate(45deg);
  @include transition();
  z-index: 999;

  &:after, &:before {
    content:" ";
    width: 40px;
    height: 1px;
    background: $bianco;
    position: absolute;
    top: 50%;
    left: 0;
    @include transition();
  }

  &:before {
    width: 1px;
    height: 40px;
    top: 0;
    left: 50%;
  }

  &:hover {
    transform:rotate(135deg);
  }
}



.pagina-singola {

  .overlay-close { display: none !important;}

}




