/* STILE PAGINE */

.testo_materiale {
	width: 100%;
	max-width: 500px;
}

.pagina-tab .testo_materiale {
	padding: 3vw;
	padding-top: 0;
	max-width: 600px;
}

.related-project {
	padding-top: 3vw;
	padding-bottom: 3vw;
}

.pagina-tab .related-project {
	padding: 3vw;
}


.singolo-materiale {
	.wk_home_cover {
		margin-top: 0;
	}

	h1.title_home {
		text-align: left;
	}
}

.pagina-tab .wk_home_cover {

	ul.slides {
		width: 100%;
	}

	&:after {
		display: none;
	}

}

.pagina-tab h1.title_home {
		margin-top: 20px;
		font-size: 2rem;
		text-align: left;
		padding: 3vw;
		padding-bottom: 1vw;

}

#map {
	width: 100%;
	height: 0;
	padding-bottom: 90%;
}