/* TIPOGRAFIA.SCSS */

html, body {
  font:normal 100%/1.5 'Work Sans', sans-serif;
  line-height: 1.45em;
}

i, em { font-style:italic;}
strong, b { font-weight:bold; }
strong em, strong i, { font-weight: bold; font-style: italic; }

/* Link di base */
a {
	text-decoration:none;
	color:$color_1;
	@include transition(all 0.2s ease-in-out);
  outline:none !important;
}

a:hover {
  opacity: 0.7;
	text-decoration:none;
  outline:none !important;
}

@mixin textexpand {
	letter-spacing:0.06em;
	word-spacing:0.1em;
}


/* TITOLI GENERALI DEL SITO */

h1, h2, h3, h4, h5, h6 {
	font-weight:400;
	line-height:1.3em;
	display:block;
	width:100%;
	clear:both;
	margin: 0;
}

h1 {
	@include testo_due;
	line-height: 1.1em;
	font-size: 3rem;
	font-weight: 300;
	@include mq($from:tablet) { font-size:3.25rem;}
	@include mq($from:desktop) { font-size:3.5rem;}
	@include mq($from:wide) { font-size:4rem;}

	strong, b {
		@include testo_uno;
		text-transform: uppercase;
	}
}	
	
h2 {
	font-size:1.7rem;
	text-transform: uppercase;
	font-weight: 300;
	@include mq($from:desktop) { font-size:2.5rem;}
}

h3 {
	color: $color_1;
	@include testo_due;
	font-size:1.5rem;
	font-weight: 300;}
	
h4 {
	font-size:1.15rem;
	text-transform: uppercase;
	font-weight: 600;
}
	
h5 {
	color: $color_1;
	font-size:1.2rem;
	font-weight:300;
	text-transform:uppercase;}

h6 {
	font-size:0.9rem;
	font-weight:800;
	color: $color_3;
	text-transform:uppercase;
}

h1.title_nowrap {

	br {
		display: none;
	}
}

.wp_content {
	img { max-width:100% !important; height: auto;}

	a {
		position: relative;
		&:after {
			content: '';
			width: 100%;
			@include transition();
			border-bottom: 1px solid $nero;
			position: absolute;
			top: 110%;
			left: 0;
		}
	}
	a:hover{
		&:after {
			width: 0%;
			@include transition();
		}
	}
	
	p {
		padding-bottom:1em;}
		
	
	ul, ol {
		list-style:none;
		padding-left:5%;
	}

	li {
		list-style:disc;
		line-height:1.5em;
		margin-bottom:10px;}
		
	li ul li ul li {
		line-height:1.5em;}
	
	ol li {
		list-style:decimal;}
		
	li ol li ol li {
		list-style:decimal;
		line-height:1.5em;}
		
	blockquote {
		display: inline-block;
		width: 100%;
		@include testo_due;
		font-size: 1.7rem;
		font-style: italic;
		width: 100%;
		margin: 0.25em 0;
		    margin-top: 4rem;
		padding: 0.25em 30px;
		padding-top: 0;
		line-height: 1.3em;
		position: relative;
		color: $color_1;
		box-sizing: border-box;
		font-weight: 300;
		@include mq($from:tablet){
			font-size: 2rem;
		}
	}
	
	blockquote:before {
		display: block;
		content: "\201C";
		font-family: Georgia, serif;
		font-size: 11rem;
		position: absolute;
		left: -10px;
		top: 30px;
		color:lighten($color_1, 75%);
	}
	
	blockquote cite {
		color: $color_1;
		font-size: 1em;
		display: block;
		margin-top: 5px;
	}
	 
	blockquote cite:before {
		content: "\2014 \2009";
	}


	
}

.wk_white_text {


	.wp_content {
		a {
			color: $bianco;
			position: relative;
			&:after {
				content: '';
				width: 100%;
				@include transition();
				border-bottom: 1px solid $bianco;
				position: absolute;
				top: 110%;
				left: 0;
			}
		}
		a:hover{
			&:after {
				width: 0%;
				@include transition();
			}
		}
	}
}

