@charset "UTF-8";
/* -COLORS.SCSS */

/* DEFAULT COLORS VARS */

$bianco:#fff;
$nero:#000;
$nerochiaro:#333;
$grigio:#989494;
$grigiochiaro:#d7d4d3;


/* THEME COLORS VARS */

$color_1:$nero;
$color_2:$bianco;
$color_3:$grigio;
$color_4:$grigiochiaro;
