@charset "UTF-8";
/* _TEXT.SCSS */

/* Font Library */

/* FONT PER LE ICONE */

@mixin testo_uno {font-family: 'Work Sans', sans-serif;}
@mixin testo_due {font-family: 'Zilla Slab', serif;}
@mixin testo_tre {font-family: 'Work Sans', sans-serif;}

