/* MAIN */

/* BODY */

html, body {
	font-size:13px;
	line-height: 1.5em;
	letter-spacing: 0.03em;
	word-spacing: 0.07em;
	color: $color_1;
	font-weight: 400;
	max-width: 100%;
	@include mq($from:tablet){font-size:14px;}
	@include mq($from:tablet){font-size:15px;}
	@include mq($from:tablet){font-size:16px;}
}

body {
	padding-top: 48px;
	@include mq($from:tablet){
		padding-top: 0;
	}
}

body {
	overflow: initial;
	overflow-x: hidden!important;
	-webkit-overflow-scrolling: touch;
	overflow-y: initial;
	position: relative;
    min-height: 100%;


}

body.bloccoscroll {
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}


/* CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI  */

#contenuti {
	position: relative;
	z-index: 3;
	width:100%;
	background:$color_2; 
	margin-top:0px;
	margin-left:0%;
	margin-right: 0%;
	padding-top: 30px;

	@include mq($from:tablet){
		padding-top: 10vh;
	}

	@include mq($from:desktop){
		margin: 0;
		width: calc( 84vw - 175px );
		left: calc( 10vw + 175px );
	}
	@include mq($from:1400){
		width: calc( 1400px - 175px - 14vw );
		left: calc( ( 100vw - 1400px ) / 2 + 10vw + 175px );
	}
}

.custom-wrapper {
	@include mq($to:desktop){
		margin-bottom: 2em;
		margin-left: 4%;
		margin-right: 4%;
	}

	@include mq($from:tablet){
		margin-bottom: 50px !important;
	}
	@include mq($from:desktop){
		margin-bottom: 60px !important;
	}
	@include mq($from:wide){
		margin-bottom: 70px !important;
	}
}


.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1280px;
}
